.forgot-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;

    .form-input-email-verify {
        padding: 40px 70px 50px 70px;
        background-image: url('../../../public/assets/images/layout-card.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: #fff;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin: 10.81% 0 !important;
        max-width: 1366px;
        max-height: 768px;
        width: 400px;
        height: 235px;

        .close-forgot {
            position: relative;
            margin-left: 92%;
            transition: all 0.3s ease-in-out;

            .close-icons {
                color: #fa0 !important;
                font-size: 40px !important;
                
            }
        }

        .close-forgot:hover {
            transform: rotate(90deg);

            .close-icons {
                color: #ff0 !important;
            }
        }

        h2 {
            text-align: center;
            font-size: 30px;
            margin: 0 !important;
            margin: 0 0 20px 0 !important;
            color: #f7f7f7;
        }

        label {
            font-weight: 700;
            margin-bottom: 2px;
        }

        input {
            border-radius: 5px;
            border: 1px solid #ced4da;
            padding: 10px 40px 10px 10px;
            transition: transform 0.3s;
        }

        input:hover {
            transform: scale(1.05);
        }

        input:focus {
            outline: none;
            border-color: #007bff;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        span {
            color: red;
            font-style: italic;
        }

        button {
            margin-top: 10px;
            padding: 7px;
            background-color: #007bff;
            border-radius: 5px;
            border: 1px solid #ced4da;
            color: #fff;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
            font-weight: 600;
        }

        button:hover {
            background-color: #fa0;
            color: #000;
            transform: scale(1.05);
            transition: 0.5s;
        }
    }

    .form-input-code-verify {
        background-image: url('../../../public/assets/images/layout-card.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: #fff;
        border-radius: 10px;
        margin: 13.98% 0 !important;
        max-width: 1366px;
        max-height: 768px;
        width: 700px;
        height: 240px;

        .input-code-verify {
            display: flex;
            flex-direction: column;
            padding: 50px 40px 30px 40px;

            .input-code-verify-text {
                color: #fff;
                text-align: center !important;
                margin: 0 0 5px 0 !important;

                span{
                    color: #ff0 !important;
                    margin: 0 !important;
                    font-style: normal !important;
                }
            }

            label {
                color: #fff;
                margin: 0 0 5px 12%;
            }

            input {
                border-radius: 5px;
                border: 1px solid #ced4da;
                padding: 10px 40px 10px 10px;
                transition: transform 0.3s;
                margin: 0 70px;
            }
    
            input:hover {
                transform: scale(1.05);
            }
    
            input:focus {
                outline: none;
                border-color: #007bff;
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
            }

            span {
                color: red;
                font-style: italic;
                margin-left: 70px;
            }
    
            button {
                margin: 10px 70px;
                padding: 7px;
                background-color: #8cd448;
                border-radius: 5px;
                border: 1px solid #ced4da;
                color: #000;
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
                font-weight: 600;
            }
    
            button:hover {
                background-color: rgb(35, 131, 221);
                color: #fff;
                transform: scale(1.05);
                transition: 0.5s;
            }

        }
    }

    .form-input-reset-password {
        max-width: 1366px;
        max-height: 768px;
        background-image: url('../../../public/assets/images/layout-card.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: #fff;
        margin-top: -5% !important;
        border-radius: 10px;
        
        .form-reset-password {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 0;

            .reset-password-input{
                display: flex;
                flex-direction: column;
                width: 60%;
                margin: 0 20% !important;
                height: 100%;

                h3 {
                    font-size: 30px;
                    text-align: center !important;
                    color: #ff0;
                }
    
                label {
                    color: #ff0;
                    margin-bottom: 2px;
                }
    
                input {
                    border-radius: 5px;
                    border: 1px solid #ced4da;
                    padding: 10px 15px 10px 10px;
                    transition: transform 0.3s;
                }
        
                input:hover {
                    transform: scale(1.05);
                }
        
                input:focus {
                    outline: none;
                    border-color: #007bff;
                    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                }

                .password-icons {
                    position: relative;
                    margin: -28px 0 20px 92% !important;
                    cursor: pointer;
                    color: #000;
                    
                    svg {
                        font-size: 20px !important;
                    }
                }
            }
    
            .input-reset-password-button {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 40px;

                button {
                    padding: 7px;
                    background-color: #8cd448;
                    border-radius: 5px;
                    border: 1px solid #ced4da;
                    color: #000;
                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
                    font-weight: 600;
                }
        
                button:hover {
                    background-color: rgb(35, 131, 221);
                    color: #fff;
                    transform: scale(1.05);
                    transition: 0.5s;
                }
            }
        }
    }
}

.message-dialog {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    color: #fff;
    z-index: 999;

    .message-content {
        background-image: url('../../../public/assets/images/horizontal-card.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        width: 500px;
        height: 180px;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
            color: #ff0;
            font-size: 20px;
            font-style: italic;
            margin: 0 0 20px 0 !important;
            padding:  0 !important;
        }

        h3 {
            font-size: 18px;
            font-style: italic;
            margin: 10px 0 !important;
            padding:  0 !important;
        }

        .button-handle {
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                width: 120px;
                font-size: 16px;
                padding: 5px 10px;
                border-radius: 10px;
                border: none;
                color: #fff;
                background-color: #1f9dcf;
                cursor: pointer;
            }

            button:hover {
                color: #fff;
                background-color: green;
            }
        }
    }
}