.forgot-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;

    .form-input-email-verify {
        padding: 40px 70px 50px 70px;
        background-color: #808080;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin: 10.81% 0 !important;
        max-width: 1366px;
        max-height: 768px;
        width: 400px;
        height: 235px;

        .close-forgot {
            position: relative;
            margin-left: 92%;
            transition: all 0.3s ease-in-out;

            .close-icons {
                color: #fa0 !important;
                font-size: 40px !important;
                
            }
        }

        .close-forgot:hover {
            transform: rotate(90deg);

            .close-icons {
                color: #ff0 !important;
            }
        }

        h2 {
            text-align: center;
            font-size: 30px;
            margin: 0 !important;
            margin: 0 0 20px 0 !important;
            color: #f7f7f7;
        }

        label {
            font-weight: 700;
            margin-bottom: 2px;
        }

        input {
            border-radius: 5px;
            border: 1px solid #ced4da;
            padding: 10px 40px 10px 10px;
            transition: transform 0.3s;
        }

        input:hover {
            transform: scale(1.05);
        }

        input:focus {
            outline: none;
            border-color: #007bff;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        span {
            color: red;
            font-style: italic;
        }

        button {
            margin-top: 10px;
            padding: 7px;
            background-color: #007bff;
            border-radius: 5px;
            border: 1px solid #ced4da;
            color: #fff;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
            font-weight: 600;
        }

        button:hover {
            background-color: #fa0;
            color: #000;
            transform: scale(1.05);
            transition: 0.5s;
        }
    }

    .form-input-code-verify {
        background-color: #808080;
        border-radius: 10px;
        margin: 13.98% 0 !important;
        max-width: 1366px;
        max-height: 768px;
        width: 700px;
        height: 240px;

        .input-code-verify {
            display: flex;
            flex-direction: column;
            padding: 50px 40px 30px 40px;

            .input-code-verify-text {
                color: #fff;
                text-align: center !important;
                margin: 0 0 5px 0 !important;

                span{
                    color: #ff0 !important;
                    margin: 0 !important;
                    font-style: normal !important;
                }
            }

            label {
                color: #fff;
                margin: 0 0 5px 12%;
            }

            input {
                border-radius: 5px;
                border: 1px solid #ced4da;
                padding: 10px 40px 10px 10px;
                transition: transform 0.3s;
                margin: 0 70px;
            }
    
            input:hover {
                transform: scale(1.05);
            }
    
            input:focus {
                outline: none;
                border-color: #007bff;
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
            }

            span {
                color: red;
                font-style: italic;
                margin-left: 70px;
            }
    
            button {
                margin: 10px 70px;
                padding: 7px;
                background-color: #8cd448;
                border-radius: 5px;
                border: 1px solid #ced4da;
                color: #000;
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
                font-weight: 600;
            }
    
            button:hover {
                background-color: rgb(35, 131, 221);
                color: #fff;
                transform: scale(1.05);
                transition: 0.5s;
            }

        }
    }

    .form-input-reset-password {
        max-width: 1366px;
        max-height: 768px;
        background-color: #fff;
        margin-top: -5% !important;
        border-radius: 10px;
        
        .form-reset-password {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .reset-password-input{
                display: flex;
                flex-direction: column;
                width: 60%;
                margin: 0 20% !important;
                height: 100%;

                h3 {
                    font-size: 30px;
                    text-align: center !important;
                    color: #008;
                }
    
                label {
                    color: #008;
                    margin-bottom: 2px;
                }
    
                input {
                    border-radius: 5px;
                    border: 1px solid #ced4da;
                    padding: 10px 15px 10px 10px;
                    transition: transform 0.3s;
                }
        
                input:hover {
                    transform: scale(1.05);
                }
        
                input:focus {
                    outline: none;
                    border-color: #007bff;
                    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                }

                .password-icons {
                    width: 16px !important;
                    height: 21px !important;
                    position: relative;
                    margin: -28px 0 20px 92% !important;
                    cursor: pointer;
                }
            }
    
            .input-reset-password-button {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 40px;

                button {
                    padding: 7px;
                    background-color: #8cd448;
                    border-radius: 5px;
                    border: 1px solid #ced4da;
                    color: #000;
                    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
                    font-weight: 600;
                }
        
                button:hover {
                    background-color: rgb(35, 131, 221);
                    color: #fff;
                    transform: scale(1.05);
                    transition: 0.5s;
                }
            }
        }

        .dialog-overlay-s {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;

            .dialog-overlay-success {
                display: flex;
                justify-content: center;
                flex-direction: column;
                background-color: #fff;
                width: 600px;
                padding: 20px 80px;
                border-radius: 10px;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

                .dialog-overlay-success-header {
                    text-align: center !important;
                    
                    h3 {
                        color: #008;
                        font-weight: 700;
                        font-size: 40px;
                        margin: 0 !important;
                        padding: 0 !important;
                    }
                }
                
                .dialog-overlay-success-content {
                    margin-bottom: 5px;
                    display: flex !important;
                    
                    .success-icons {
                        
                        a {
                            text-decoration: none !important;

                            img {
                                width: 150px !important;
                                height: 150px !important;
                            }
                        }
                    }

                    .success-text {
                        display: flex !important;
                        flex-direction: column;
                        justify-content: center !important;
                        align-items: flex-start !important;
                        margin-left: 20px;

                        p {
                            color: #009;
                            margin: 0;
                            padding: 0;
                        }

                        .success-button-s {
                            margin-top: 20px;

                            a {
                                text-decoration: none !important;
    
                                span {
                                    background-color: #333;
                                    color: #fff;
                                    cursor: pointer;
                                    padding: 5px 30px 7px 30px;
                                    border-radius: 5px;
                                    border: none !important;
                                }
                            }
                        }
                    }
                }
            }
        }

        .dialog-overlay-e {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;

            .dialog-overlay-error {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                background-color: #fff;
                width: 600px;
                height: 250px;
                padding: 0 80px;
                border-radius: 10px;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

                .dialog-overlay-error-header {

                    h3 {
                        color: red;
                        font-weight: 700;
                        font-size: 40px;
                        margin: 0 !important;
                        padding: 0 !important;
                    }
                }
                
                .dialog-overlay-error-content {
                    margin-bottom: 5px;
                    
                    .error-reset-password {
                        margin: 0;
                        padding: 0;
                        color: #008 !important;
                    } 
                }

                .dialog-e-close {

                    .dialog-e-close-button {
                        background-color: #8cd448 !important;
                        border: none !important;
                        color: #222;
                        font-weight: 600 !important;
                        border-radius: 5px;
                        padding: 7px 20px !important;
                        cursor: pointer;
                    }
                }

                .dialog-e-close:hover {

                    .dialog-e-close-button {
                        background-color: #007bff !important;
                        border: none !important;
                        color: #fff;
                        font-weight: 600 !important;
                        border-radius: 5px;
                        padding: 7px 20px !important;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}