.login-page {
    display: flex;
    align-items: center;
    justify-content: center;

    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../../../public/assets/images/item-card.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: #f0f0f0;
        padding: 4vw 5vw;
        border-radius: .75vw;
        transition: transform 0.3s;
        width: 29.3vw;
        font-weight: 500 !important;

        .close-login {
            position: relative;
            margin-left: 90%;
            transition: all 0.3s ease-in-out;

            .close-icons {
                color: #a10 !important;
                font-size: 3vw !important;
            }
        }

        .close-login:hover {
            transform: rotate(90deg);

            .close-icons {
                color: #fa0 !important;
            }
        }

        .login-error-display {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 1.5vw;
            margin: 1.5vw 0;

            p {
                font-size: 1.18vw;
                color: red;
                background-color: rgb(235, 235, 69);
                padding: .15vw .75vw .3vw .75vw;
                border-radius: .75vw;
            }
        }

        h2 {
            margin: 0;
            font-size: 3vw;
            color: #ff0;
        }

        .form-group-login {
            display: flex;
            flex-direction: column; 
            width: 100%;
            margin-top: 1%;

            label {
                font-weight: 700;
                margin-bottom: .15vw;
                font-size: 1.18vw;
            }

            span {
                color: red;
                font-size: 1.18vw;
            }

            input {
                border-radius: .367vw;
                border: .075vw solid #ced4da;
                padding: .75vw 3vw .75vw .75vw;
                transition: transform 0.3s;
                font-size: 1.18vw;
            }

            input:hover {
                transform: scale(1.05);
            }

            input:focus {
                outline: none;
                border-color: #fa0;
                box-shadow: 0 0 0 .25vw rgba(0, 123, 255, 0.25);
            }

            button {
                background-color: #007bff;
                color: #fff;
                border: none;
                border-radius: .367vw;
                padding: .75vw;
                cursor: pointer;
                transition: background-color 0.3s;
                font-size: 1.18vw;
            }

            button:hover {
                background-color: #6a814f !important;
            }

            .remember-me {
                display: flex;
                align-items: center;
                color: #ff0;

                input[type="checkbox"] {
                    margin-right: .367vw;
                    width: 1vw;
                    height: 1vw;
                }
            }

            #forgot-password-link {
                font-size: 1.1vw;
                text-align: right;
                margin-bottom: .367vw;
                color: #fa0;
                transition: color 0.3s;
            }

            #forgot-password-link:hover {
                color: #ff0;
            }
            
            .password-icons {
                position: absolute;
                cursor: pointer;
                right: 37%;
                margin: 2.5% 0 0 0;

                svg {
                    font-size: 1.18vw;
                    color: #222;
                }
            }
        }

        .line-bottom {
            width: 65%;
            border-bottom: .075vw solid #222;
            margin-bottom: 0 !important;
        }

        .link-to-sign-up {
            margin-top: 1.5vw;
            font-size: 1.18vw;

            a {
                color: #fa0;
                transition: color 0.3s;
            }

            a:hover {
                color: #ff0;
            }
        }
    }
}