.login-page {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px 10px 50px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
  width: 400px;
}

.login-form:hover {
  transform: scale(1.05);
}

.login-form h2 {
  margin-bottom: 20px;
}

.form-group-text {
  display: flex;
  flex-direction: column; 
  width: 300px;
}

.form-group-text label {
  margin-bottom: 5px;
}

.form-group-text input {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 10px;
  transition: transform 0.3s;
}

.form-group-text input:hover {
  transform: scale(1.05);
}

.form-group-text input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-group-text button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-group-text button:hover {
  background-color: #0069d9;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.remember-me label {
  margin-left: 5px;
}

.remember-me input[type="checkbox"] {
  margin-right: 5px;
}

#forgot-password-link {
  font-size: 14px;
  text-align: right;
  margin-top: 5px;
  color: #007bff;
  transition: color 0.3s;
}

#forgot-password-link:hover {
  color: #0056b3;
}

.link-to-register {
  margin-top: 20px;
  font-size: 14px;
}

.link-to-register a {
  color: #007bff;
  transition: color 0.3s;
}

.link-to-register a:hover {
  color: #0056b3;
}

.social-connections {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social {
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social:hover{
  color: #fa0;
}

.line-bottom {
  width: 65%;
  border-bottom: 1px solid #222;
  margin-bottom: 0 !important;
}

.social-connections-text {
  text-align: center;
  font-weight: bold;
}