.change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .change-password-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
        background-color: #bfcad3;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);    
        transition: transform 0.5s;

        h2 {
            text-align: center;
        }

        .input-container {
            display: flex;
            flex-direction: column; 
            width: 300px;

            .password-icons {
                width: 16px !important;
                height: 21px !important;
                position: relative;
                margin: -28px 0 20px 90% !important;
                cursor: pointer;
            }
        }

        label {
            font-weight: 700;
            margin-bottom: 2px;
        }

        span {
            color: red;
        }

        input {
            border-radius: 5px;
            border: 1px solid #ced4da;
            padding: 10px 40px 10px 10px;
            transition: transform 0.3s;
        }

        input:hover {
            transform: scale(1.05);
        }

        input:focus {
            outline: none;
            border-color: #007bff;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        .change-password-action {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            
            button {
                border-radius: 5px;
                font-weight: 700;
                color: #fff;
                border: 1px solid #ced4da;
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
                cursor: pointer;
                background-color: rgb(133, 133, 50);
                padding: 8px 15px;
            }
        }

        .change-password-action:hover {
            transform: scale(1.1);
            button {
                background-color: rgb(29, 224, 111);
                color: #000;
            }
        }

        .change-password-back {
            margin: 20px 0 10px 0;
            button {
                border-radius: 50%;
                font-size: 25px !important;
                justify-content: center;
                align-items: center;
                display: flex;
                width: 50px;
                height: 50px;
                background-color: #a10;
                color: #fff;
                border: 2px solid #bfcad3;
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            }
        }

        .change-password-back:hover {
            transform: scale(1.1);
            button {
                background-color: #2790ff;
                color: #ff0;
                border: 2px solid #222;
                transform: rotate(360deg);
                transition: 1.5s ease-out;
            }
        }
    }

    .change-password-form:hover {
        transform: scale(1.1);
    }
}