.register-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-weight: 500;

    .register-form {
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s;
        width: 800px;

        .close-register {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-left: 90%;
            transition: all 0.3s ease-in-out;

            .close-icons {
                color: #a10 !important;
                font-size: 40px !important;
            }
        }

        .close-register:hover {
            transform: rotate(90deg);

            .close-icons {
                color: #fa0 !important;
            }
        }

        h2 {
            font-size: 40px !important;
            margin: -60px 0 10px 30px;
        }

        .avatar { 
            text-align: center;
            margin-bottom: 10px;

            label {
                display: inline-block;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            label::before {
                content: "+";
                font-size: 30px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: rgba(0, 0, 0, 0.5);
                color: #fff;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: opacity 0.3s;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            label:hover::before {
                opacity: 1;
            }
        }

        .register-form-input {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5px;
            margin-bottom: 20px;

            .form-group-register {
                display: flex;
                flex-direction: column; 
                width: 300px;
    
                label {
                    font-weight: 700;
                }
    
                span {
                    color: red;
                }
    
                input {
                    border-radius: 5px;
                    border: 1px solid #ced4da;
                    padding: 10px 40px 10px 10px;
                    transition: transform 0.3s;
                }
    
                input:hover {
                    transform: scale(1.05);
                }
    
                input:focus {
                    outline: none;
                    border-color: #007bff;
                    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                }

                .password-icons {
                    width: 16px !important;
                    height: 21px !important;
                    position: relative;
                    margin: -28px 0 20px 90% !important;
                    cursor: pointer;
                }

                .male-female {
                    display: flex !important;
                    justify-content: space-evenly;
                }
            }

            #gender, #phone-number {
                margin-top: -15px;
            }
        }

        .form-group-button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;

            button {
                width: 300px;
                background-color: #007bff;
                color: #fff;
                border: none;
                border-radius: 5px;
                padding: 10px;
                cursor: pointer;
                transition: background-color 0.3s;
            }

            button:hover {
                background-color: #6a814f !important;
            }
        }

        .link-to-sign-in {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            font-size: 16px;

            a {
                color: #007bff;
                transition: color 0.3s;
            }

            a:hover {
                color: #0056b3;
            }
        }
    }
}