.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .register-form {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
  width: 450px;
  }
  
  .register-form:hover {
  transform: scale(1.05);
  }
  
  .avatar {
  text-align: center;
  margin-bottom: 20px;
  }
  
  .avatar label {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  }
  
  .avatar label img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  
  .avatar label::before {
  content: "+";
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  }
  
  .avatar label:hover::before {
  opacity: 1;
  }
  
  .form-groups {
  display: flex;
  margin-bottom: 20px;
  }
  
  .form-groups label {
  font-weight: bold;
  }
  
  .form-groups input,
  .form-groups select {
  border: none;
  border-radius: 5px;
  padding: 10px;
  
  }
  
  .form-groups input:focus,
  .form-groups select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .form-groups button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    }
    
    .form-groups button:hover {
    background-color: #0069d9;
    }
    
    .link-to-signin {
    margin-top: 20px;
    text-align: center;
    }
    
    .link-to-signin a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
    }
    
    .link-to-signin a:hover {
    color: #0069d9;
    }