.footer {
    background-color: #222;
    color: #fff;
    padding: 1.5vw;
    font-weight: bold;

    .footer-container {
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto;

        .footer-logo {
            display: grid;
            align-items: center;
            cursor: pointer;
            
            .footer-logo-content {
                display: flex;
                justify-content: center;
                align-items: center;

                .logo-image-footer {
                    border-radius: 5%;
                    height: 7.4vw;
                    width: 7.4vw;
                    filter: drop-shadow(0 0 .15vw #808080) drop-shadow(0 0 .22vw #808080);
                }
            }

            span {
                font-size: 1.76vw;
                color: #1E90FF;
            }
        }

        .footer-links {

            svg {
                font-size: 1.32vw;
                margin-right: .367vw;
            }

            h3 {
                font-size: 1.18vw;
                margin-bottom: 1.5vw;
                color: #ff0;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: flex;
                    margin-bottom: .75vw;

                    h5 {
                        font-size: 1.18vw;
                        margin: 0 !important;
                        padding: 0 !important;
                    }

                    .items-to {
                        color: #fff;
                        display: flex;
                        align-items: center;
                        text-decoration: none;

                        .youtube-icon:hover {
                            color:  #f00;
                        }

                        .facebook-icon:hover {
                            color:  #3b5998;
                        }

                        h5 {
                            font-size: 1.18vw;
                            margin: 0 !important;
                            padding: 0 !important;
                        }
                    }

                    .items-to:hover {
                        color: #ff0;

                        .youtube-icon {
                            color:  #f00;
                        }

                        .facebook-icon {
                            color:  #3b5998;
                        }
                    }
                } 
            }
        }
    }

    .footer-mark {
        text-align: center;
        color: #fa0;

        p {
            font-size: 1.18vw;
        }
    }
}