.character-empty {
    font-size: 1.5vw;
    color: #ff0;
    height: 36.61vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    span {
        margin-top: 3vw;
        font-size: 2.2vw;
        font-style: italic;
        padding: 2.2vw 7.34vw;
        border-radius: 2.2vw;
        border: .075vw solid #ff0;
    }
}

.character-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2.2vw 0;

    .character-main {
        border-radius: 2.2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        max-width: 1200px;
        background: url(./../../../public/assets/images/bg-img.jpg) center/cover;
        overflow: hidden;
        padding-bottom: 2.2vw;
        filter: drop-shadow(0 0 .3vw #ccc) drop-shadow(0 0 .367vw #ccc);

        .character-content {
            display: flex;
            align-items: center;
            color: #fff;
            padding: 3vw 0;
            width: 100%;
            position: relative;

            .hidden-inner {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 5%;
                height: 90%;
                margin: 0 1.1vw;
            }

            .character-inner {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                width: 5%;
                height: 90%;
                margin: 0 2.2vw;
                color: #000;
                font-weight: 600;
                counter-reset: counter;
                row-gap: 3vw !important;

                .character-line {
                    position: absolute;
                    width: .15vw;
                    height: 120%;
                    background: linear-gradient(0deg, #ffffff00, #fff, #ffffff00);
                }

                .character-number {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: .75vw;
                    height: .75vw;
                    font-weight: 600;
                    border-radius: 50%;
                    background-color: #fff;
                    transition: 0.5s ease-in-out;
                }
                
                .character-number::before {
                    counter-increment: counter;
                    content: counter(counter);
                    position: absolute;
                    z-index: 5;
                    transition: 0.75s ease; 
                    transition-delay: 0.1s;
                    transform: scale(0);
                    opacity: 0;
                }

                .character-number::after {
                    position: absolute;
                    content: "";
                    width: 300%;
                    height: 300%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #fff;
                    transform: rotate(45deg) scale(0);
                    transition: 0.75s ease;
                }

                .active::before {
                    transform: scale(1);
                    opacity: 1;
                }

                .active::after {
                    background-color: #fcba3f;
                    transform: rotate(45deg) scale(1);
                }
            }

            .character-control {
                position: absolute;
                bottom: 0;
                left: 50%;
                z-index: 10;

                button {
                    width: 3vw;
                    height: 3vw;
                    border-radius: 50%;
                    border: none;
                    margin-right: .75vw;
                    cursor: pointer;
                    transition: 0.5s ease;
                    filter: drop-shadow(0 0 .15vw #222) drop-shadow(0 0 .22vw #222);

                    svg {
                        font-size: 1.5vw;
                        padding: .15vw .22vw 0 .22vw;
                    }
                }

                button:active {
                    transform: scale(0.8);
                }
            }

            .content-wrapper {
                position: relative;
                flex: 1;
                height: 100%;
                display: flex;
                justify-content: space-between;

                .content-main {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    padding: 2.2vw 0;
                    transition: 0.25s ease;
                    flex: 0 45%;

                    * {
                        transition: 0.75s ease;
                        transform: translateY(100px);
                        opacity: 0;
                    }

                    .character-name {
                        font-weight: 700;
                        font-size: 3.67vw;
                        margin: 0 !important;
                        padding: 0 !important;
                    }

                    .character-description {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        font-size: 1.18vw;
                        font-weight: 500;
                        font-style: italic;
                        padding-bottom: .75vw;
                        margin: 0 !important;
                        text-overflow: ellipsis !important;
                        

                        p {
                            text-overflow: ellipsis !important;
                            white-space: nowrap;
                            margin: 0 !important;
                            padding: 0 !important;
                            overflow: hidden;
                            width: 14.65vw;
                        }
                    }

                    .properties {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        flex-wrap: wrap;
                        row-gap: .367vw;
                        padding-bottom: .75vw !important;
                        font-size: 1vw;
                        margin: 0 !important;
                        padding: 0 !important;
                        margin-bottom: 1.5vw !important;

                        .character-skill {
                            display: flex;
                            align-items: center;
                            list-style-type: none;
                            justify-content: flex-start;

                            span:not(.character-icon) {
                                margin-left: .75vw;
                            }

                            .character-icon {
                                display: flex;
                                width: 3.3vw;
                                height: 3.3vw;
                                margin: .075vw 0 !important;
                                padding: 0 !important;

                                img {
                                    border-radius: 50%;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                    filter: drop-shadow(0 0 .15vw #202020) drop-shadow(0 0 .15vw #202020);
                                    background-color: #fff;
                                }
                            }

                            span:nth-child(2) {
                                font-weight: 600;
                                font-size: 1.18vw;
                                word-wrap: break-word;
                            }
                        }
                    }

                    .character-button-details {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        button {
                            width: 80%;
                            height: 3vw;
                            border: none;
                            background-color: #fcba3f;
                            font-family: inherit;
                            text-transform: uppercase;
                            font-weight: 500;
                            font-size: 1.18vw;
                            cursor: pointer;
                            border-radius: .75vw;
                            filter: drop-shadow(0 0 .15vw #202020) drop-shadow(0 0 .22vw #202020);
                        }

                        button:hover {
                            background-color: rgb(15, 134, 4);
                            color: #fff;
                            transition: 0.2s;
                        }
                    }
                }

                .active {
                    opacity: 1;
                    pointer-events: visible;

                    * {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }

                .slide-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    min-height: 36.61vw;
                    margin-right: 5%;

                    .slide-content-wrapper {
                        max-width: 51.25vw;
                        height: 90%;
                        opacity: 0;
                        position: absolute;
                        top: 5%;
                        left: 32%;
                        right: 3%;
                        bottom: 5%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: opacity 0.25s ease;
                        background-image: url(../../../public/assets/images/layout-card.png);
                        background-repeat: no-repeat;
                        background-size: 100% 100%;

                        .item-image {
                            width: 80%;
                            height: 80%;
                            flex: 1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: .75vw;                          
                            
                            img {
                                max-width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                    }

                    .active {
                        opacity: 1;

                        .item-image {
                            filter: drop-shadow(0 0 .75vw #ffff00) drop-shadow(0 0 3.67vw #ffff00);
                            transition: color 0.25s;
                        }
                    }
                }

            }
        }
    }

    @media screen and (max-width: 768px) {
        .character-main {
            width: 95%;
            max-width: 600px;
        }
    }

    @media screen and (max-width: 1024px) {
        .character-main {
            width: 95%;
            max-width: 800px;
        }
    }

    @media screen and (max-width: 1365px) {
        .character-main {
            width: 95%;
            max-width: 1024px;
        }
    }

    @media screen and (min-width: 1600px) and (min-height: 900px) {
        .character-main {
            width: 85%;
            max-width: 1440px;
        }
    }

    @media screen and (min-width: 1920px) and (min-height: 1080px) {
        .character-main {
            width: 80%;
            max-width: 1600px;
        }
    }

    @media screen and (min-width: 2560px) and (min-height: 1440px) {
        .character-main {
            width: 80%;
            max-width: 2000px;
        }
    }

    @media screen and (min-width: 3840px) and (min-height: 2160px) {
        .character-main {
            width: 80%;
            max-width: 3000px;
        }
    }

    @media screen and (min-width: 5120px) and (min-height: 2880px) {
        .character-main {
            width: 80%;
            max-width: 4000px;
        }
    }

    @media screen and (min-width: 7680px) and (min-height: 4320px) {
        .character-main {
            width: 80%;
            max-width: 6000px;
        }
    }
}

.dialog-view-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(.59vw);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: hidden;

    .dialog-view-main-content {
        width: 73.21vw;
        height: 36.61vw;
        background-image: url('../../../public/assets/images/horizontal-card.png');
        background-size: 100% 95%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: .75vw;
        padding: 5.13vw 0;

        .dialog-view-content {
            position: relative;
            width: 62.23vw;
            max-height: 29.3vw;
            text-align: start;
            padding: 0 5.13vw !important;
            overflow: auto; 
            scrollbar-width: none;
            -ms-overflow-style: none;
            margin: 0 !important;

            h3 {
                margin: 0 !important;
                padding: 0 !important;
                color: #ff0;
                font-size: 3.67vw;
                text-align: center;
                text-transform: uppercase;
            }

            .dialog-view-main {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .dialog-main-top {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-top: 3vw;

                    .dialog-view-images {
                        width: 20%;
                        height: 29.3vw;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            padding: 1.5vw .75vw;
                            width: 100%;
                            max-width: 12.45vw;
                            height: 100%;
                            max-height: 29.3vw;
                            border-radius: 1.5vw;
                            object-fit: fill;
                            filter: drop-shadow(0 0 .15vw #ff0) drop-shadow(0 0 .22vw #ff0);
                        }
                    }

                    .dialog-view-main {
                        width: 80%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;
                        flex-wrap: wrap;

                        .dialog-main-skill {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            padding: .59vw 1.5vw;
                            width: 100%;
    
                            img {
                                max-width: 5.13vw;
                                width: 100%;
                                height: 5.13vw;
                                border-radius: 50%;
                                object-fit: contain;
                                margin-right: .75vw;
                                background-color: #fff;
                                filter: drop-shadow(0 0 .075vw #ff0) drop-shadow(0 0 .15vw #ff0);
                            }
    
                            .skill-main {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                flex-direction: column;
    
                                h6 {
                                    width: 100%;
                                    font-size: 1.5vw;
                                    color: #ff0;
                                    margin: 0 !important;
                                    padding: 0 0 .367vw 0 !important;
                                }
    
                                span {
                                    width: 98%;
                                    font-size: 1.18vw;
                                    margin: 0 !important;
                                    padding: 0 !important;
                                    word-wrap: break-word;
                                    font-style: italic;
                                }
                            }
                        }
                    }
                }

                .dialog-main-bottom {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                    align-items: flex;
                    flex-wrap: wrap;
                    margin: 2.2vw 0;
                    width: 100%;                    

                    h4 {
                        font-size: 2.64vw;
                        color: #ff0;
                        margin: 0 !important;
                        padding: 0 !important;
                    }

                    p {
                        color: #ff0;
                        font-style: italic;
                        font-size: 1.5vw;
                        margin: 0 !important;
                        padding: 0 !important;
                    }

                    h5 {
                        font-style: italic;
                        font-size: 1.18vw;
                        font-weight: 500;
                        margin: .75vw 0 !important;
                        padding: 0 !important;
                    }
                }
            }

            .dialog-view-button {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1.5vw;

                button {
                    width: 8.8vw;
                    color: #fff;
                    background-color: #1685ec;
                    border-radius: .367vw;
                    border: none;
                    padding: .513vw;
                    font-size: 1.18vw;
                    cursor: pointer;
                }

                button:hover {
                    background-color: green;
                }
            }
        }    
            

        .dialog-view-content::-webkit-scrollbar {
            display: none;
        }
          
        .dialog-view-content {
            scrollbar-width: none;
            -ms-overflow-style: none;
        }     
    }
}