.character-empty {
    font-size: 20px;
    color: #ff0;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    span {
        margin-top: 40px;
        font-size: 30px;
        font-style: italic;
    }
}

.character-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 100px;

    .character-main {
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: url(./../../../public/assets/images/bg-img.jpg) center/cover;
        overflow: hidden;
        padding-bottom: 30px;
        filter: drop-shadow(0 0 2px #222) drop-shadow(0 0 3px #fff);

        .character-content {
            display: flex;
            align-items: center;
            color: #fff;
            padding: 40px 0;
            width: 100%;
            position: relative;

            .hidden-inner {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 5%;
                height: 90%;
                margin: 0 15px;
            }

            .character-inner {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                width: 5%;
                height: 90%;
                margin: 0 30px;
                color: #000;
                font-weight: 600;
                counter-reset: counter;
                row-gap: 40px !important;

                .character-line {
                    position: absolute;
                    width: 2px;
                    height: 120%;
                    background: linear-gradient(0deg, #ffffff00, #fff, #ffffff00);
                }

                .character-number {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 10px;
                    height: 10px;
                    font-weight: 600;
                    border-radius: 50%;
                    background-color: #fff;
                    transition: 0.5s ease-in-out;
                }
                
                .character-number::before {
                    counter-increment: counter;
                    content: counter(counter);
                    position: absolute;
                    z-index: 5;
                    transition: 0.75s ease; 
                    transition-delay: 0.1s;
                    transform: scale(0);
                    opacity: 0;
                }

                .character-number::after {
                    position: absolute;
                    content: "";
                    width: 300%;
                    height: 300%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #fff;
                    transform: rotate(45deg) scale(0);
                    transition: 0.75s ease;
                }

                .active::before {
                    transform: scale(1);
                    opacity: 1;
                }

                .active::after {
                    background-color: #fcba3f;
                    transform: rotate(45deg) scale(1);
                }
            }

            .character-control {
                position: absolute;
                bottom: 0;
                left: 50%;
                z-index: 10;

                button {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: none;
                    margin-right: 10px;
                    cursor: pointer;
                    transition: 0.5s ease;

                    svg {
                        font-size: 20px;
                    }
                }

                button:active {
                    transform: scale(0.8);
                }
            }

            .content-wrapper {
                position: relative;
                flex: 1;
                height: 100%;
                display: flex;
                justify-content: space-between;

                .content-main {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    padding: 30px 0;
                    transition: 0.25s ease;
                    flex: 0 45%;

                    * {
                        transition: 0.75s ease;
                        transform: translateY(100px);
                        opacity: 0;
                    }

                    .character-name {
                        font-weight: 700;
                        font-size: 36px;
                        margin: 0 !important;
                        padding: 0 !important;
                    }

                    .character-description {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        font-size: 1rem;
                        font-weight: 500;
                        font-style: italic;
                        padding-bottom: 10px;
                        margin: 0 !important;
                        text-overflow: ellipsis !important;
                        

                        p {
                            text-overflow: ellipsis !important;
                            white-space: nowrap;
                            margin: 0 !important;
                            padding: 0 !important;
                            overflow: hidden;
                            width: 200px;
                        }
                    }

                    .properties {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        flex-wrap: wrap;
                        row-gap: 5px;
                        padding-bottom: 10px !important;
                        font-size: 0.8rem;
                        margin: 0 !important;
                        padding: 0 !important;
                        margin-bottom: 20px !important;

                        .character-skill {
                            display: flex;
                            align-items: center;
                            list-style-type: none;
                            justify-content: flex-start;

                            span:not(.character-icon) {
                                margin-left: 10px;
                            }

                            .character-icon {
                                display: flex;
                                width: 45px;
                                height: 45px;
                                margin: 1px 0 !important;
                                padding: 0 !important;

                                img {
                                    border-radius: 50%;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }

                            span:nth-child(2) {
                                font-weight: 600;
                                font-size: 18px;
                            }
                        }
                    }

                    .character-button-details {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        button {
                            width: 80%;
                            height: 40px;
                            border: none;
                            background-color: #fcba3f;
                            font-family: inherit;
                            text-transform: uppercase;
                            font-weight: 500;
                            font-size: 16px;
                            cursor: pointer;
                        }
                    }
                }

                .active {
                    opacity: 1;
                    pointer-events: visible;

                    * {
                        transition-delay: 1.2s;
                        transform: translateY(0);
                        opacity: 1;
                    }
                }

                .slide-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    margin-right: 5%;

                    .slide-content-wrapper {
                        max-width: 700px;
                        height: 90%;
                        opacity: 0;
                        position: absolute;
                        top: 5%;
                        left: 28%;
                        right: 0;
                        bottom: 5%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: opacity 0.25s ease;
                        background-image: url(../../../public/assets/images/layout-card.png);
                        background-repeat: no-repeat;
                        background-size: 100% 100%;

                        .item-image {
                            width: 80%;
                            height: 80%;
                            flex: 1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 10px;                          
                            
                            img {
                                max-width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                    }

                    .active {
                        opacity: 1;

                        .item-image {
                            filter: drop-shadow(0 0 10px #ffff00) drop-shadow(0 0 50px #ffff00);
                            transition: color 0.25s;
                        }
                    }
                }

            }
        }
    }
}

.dialog-view-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: hidden;

    .dialog-view-main-content {
        width: 1000px;
        height: 500px;
        background-image: url('../../../public/assets/images/horizontal-card.png');
        background-size: 100% 95%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 70px 0;

        .dialog-view-content {
            position: relative;
            width: 850px;
            max-height: 400px;
            text-align: start;
            padding: 0 70px !important;
            overflow: auto; 
            scrollbar-width: none;
            -ms-overflow-style: none;
            margin: 0 !important;

            h3 {
                margin: 0 !important;
                padding: 0 !important;
                color: #ff0;
                font-size: 30px;
                text-align: center;
            }

            .dialog-view-main {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .dialog-main-top {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-top: 30px;

                    .dialog-view-images {
                        width: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            padding: 20px 10px;
                            width: 80%;
                            height: 100%;
                            min-height: 500px;
                            max-height: 100%;
                            border-radius: 20px;
                            border: 2px solid #fff;
                            filter: drop-shadow(0 0 2px #ff0) drop-shadow(0 0 3px #ff0);
                        }
                    }

                    .dialog-view-main {
                        width: 50%;

                        h4 {
                            font-size: 30px;
                            color: #ff0;
                            margin: 0 !important;
                            padding: 0 0 20px 0 !important;
                        }

                        p {
                            color: #ff0;
                            font-style: italic;
                            font-size: 20px;
                            margin: 0 !important;
                            padding: 0 0 10px 0 !important;
                        }

                        h5 {
                            font-style: italic;
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }
                }

                .dialog-main-bottom {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    margin: 20px 0;
                    width: 100%;

                    .dialog-main-skill {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 8px 20px;
                        width: 60%;

                        img {
                            width: 80px;
                            height: 80px;
                            border-radius: 50%;
                            object-fit: cover;
                            margin-right: 30px;
                        }

                        .skill-main {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            flex-direction: column;

                            h6 {
                                width: 100%;
                                font-size: 18px;
                                color: #ff0;
                                margin: 0 !important;
                                padding: 0 0 5px 0 !important;
                            }

                            span {
                                width: 100%;
                                font-size: 16px;
                                margin: 0 !important;
                                padding: 0 !important;
                                word-wrap: break-word;
                            }
                        }
                    }
                }
            }

            .dialog-view-button {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;

                button {
                    width: 120px;
                    color: #fff;
                    background-color: #1685ec;
                    border-radius: 5px;
                    border: none;
                    padding: 7px;
                    font-size: 16px;
                    cursor: pointer;
                }

                button:hover {
                    background-color: green;
                }
            }
        }    
            

        .dialog-view-content::-webkit-scrollbar {
            display: none;
        }
          
        .dialog-view-content {
            scrollbar-width: none;
            -ms-overflow-style: none;
        }     
    }
}