.item-page {
    padding: 2.2vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .items-page-container {
        display: flex;
        width: 90%;
        width: 1200px;
        min-height: 65.9vw;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        background-color: #222;
        color: #fff;
        border-radius: 3.67vw;
        padding: 0;
        filter: drop-shadow(0 0 .3vw #ccc) drop-shadow(0 0 .367vw #ccc);

        h2 {
            font-size: 3.67vw;
            padding: 0 !important;
            margin: 4.4vw 0 0 0 !important;
            color: #ff0;
            filter: drop-shadow(0 0 .0367vw #ccc) drop-shadow(0 0 .075vw #ccc);
        }
    
        .item-filter {
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-direction: column;
            padding: 1.5vw 14% .513vw 0;

            label {
                width: 20%;
                margin-bottom: .367vw;
                font-size: 1.32vw;
                font-weight: 500;
                color: #ff0;
            }
            
            select {
                font-size: 1.18vw;
                font-weight: 500;
                background-color: green;
                color: #fff;
                padding: .367vw .75vw;
                width: 20%;
                border: none !important;
                border-radius: .367vw;
                cursor: pointer;

                option {
                    background-color: #fff;
                    color: #222;
                    font-size: 1.18vw;
                }
            }
        }
    
        .item-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            padding: 0 3vw 3.67vw 3vw;
            min-height: 18.31vw;
            height: fit-content;

            h1 {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                font-size: 3vw;
                font-weight: 700;
                color: #ff0;
                font-style: italic;
            }
    
            .item-card {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 3.67vw .75vw 3vw 1.1vw;
                color: #fff;
                background-image: url('../../../public/assets/images/item-card.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                border-radius: .75vw;
                width: 30%;
                font-size: 1.18vw;
                cursor: pointer;
                height: 18.31vw;

                .card-top {
                    display: flex;
                    width: 100%;

                    .card-image {
                        width: 50% !important;
                        height: 8.8vw !important;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: .75vw;

                        img {
                            width: 100%;
                            max-width: 8.8vw;
                            height: 100%;
                            object-fit: contain;
                            border-radius: .75vw;
                            filter: drop-shadow(0 0 .22vw #ffff00) drop-shadow(0 0 .3vw #ffff00);
                        }
                        
                    }

                    .card-top-content {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        word-wrap: break-word;

                        h3, h5 {
                            max-width: 90%;
                            word-wrap: break-word;
                            margin: 0 !important;
                            padding: 0 !important;
                        }

                        h3 {
                            margin-bottom: 1.1vw !important;
                            font-size: 1.5vw !important;
                            color: #ff0;
                        }

                        h5 {
                            margin: .22vw 0 !important;
                            font-size: 1.18vw !important;
                        }

                        .type-item {
                            display: flex !important;
                            justify-content: center !important;
                            align-items: center !important;
                            margin: .22vw 0 !important;
                            font-size: 1.18vw !important;
                            font-weight: 600;

                            svg {
                                margin-left: .22vw !important;
                                font-size: 1.1vw;
                                color: #ff0;
                            }
                        }
                    }
                }

                .card-bottom {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 1.1vw 0 0 0;

                    .card-bottom-left {
                        width: 55%;
                        margin-left: 5%;

                        label {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            width: 100%;

                            p {
                                width: 60%;
                                max-width: 6.6vw;
                                margin: 0 !important;
                                padding: 0 !important;
                                color: #ff0;
                            }

                            span {
                                width: 40%;
                                font-style: italic;
                            }
                        }
                    }

                    .card-bottom-right {
                        width: 40%;

                        label {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            width: 100%;

                            p {
                                width: 60%;
                                max-width: 5.13vw;
                                margin: 0 !important;
                                padding: 0 !important;
                                color: #ff0;
                            }

                            span {
                                width: 40%;
                                font-style: italic;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .items-page-container {
            width: 95%;
            max-width: 600px;
        }
    }

    @media screen and (max-width: 1024px) {
        .items-page-container {
            width: 95%;
            max-width: 800px;
        }
    }

    @media screen and (max-width: 1365px) {
        .items-page-container {
            width: 95%;
            max-width: 1024px;
        }
    }

    @media screen and (min-width: 1600px) and (min-height: 900px) {
        .items-page-container {
            width: 85%;
            max-width: 1440px;
        }
    }

    @media screen and (min-width: 1920px) and (min-height: 1080px) {
        .items-page-container {
            width: 80%;
            max-width: 1600px;
        }
    }

    @media screen and (min-width: 2560px) and (min-height: 1440px) {
        .items-page-container {
            width: 80%;
            max-width: 2000px;
        }
    }

    @media screen and (min-width: 3840px) and (min-height: 2160px) {
        .items-page-container {
            width: 80%;
            max-width: 3000px;
        }
    }

    @media screen and (min-width: 5120px) and (min-height: 2880px) {
        .items-page-container {
            width: 80%;
            max-width: 4000px;
        }
    }

    @media screen and (min-width: 7680px) and (min-height: 4320px) {
        .items-page-container {
            width: 80%;
            max-width: 6000px;
        }
    }
}

.empty-message {
    font-size: 1.5vw;
    color: #ff0;
    height: 36.61vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    span {
        margin-top: 3vw;
        font-size: 2.2vw;
        font-style: italic;
        padding: 2.2vw 7.34vw;
        border-radius: 2.2vw;
        border: .075vw solid #ff0;
    }
}
