.item-page {
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .items-page-container {
        margin: 0 30px;
        display: flex;
        width: 1000px;
        min-height: 900px;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        background-image: url('../../../public/assets/images/member-card.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: #fff;
        border-radius: 10px;
        padding-bottom: 30px;

        h2 {
            font-size: 50px;
            padding: 0 !important;
            margin: 70px 0 0 0 !important;
        }
    
        .item-filter {
            width: 70%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-direction: column;
            margin: 20px 30% 20px 30%;

            label {
                width: 30%;
                margin-bottom: 5px;
                font-size: 18px;
                font-weight: 500;
                color: #ff0;
            }
            
            select {
                font-size: 16px;
                font-weight: 500;
                background-color: green;
                color: #fff;
                padding: 5px 10px;
                width: 30%;
                border: none !important;
                border-radius: 5px;
                cursor: pointer;

                option {
                    background-color: #fff;
                    color: #222;
                }
            }
        }
    
        .item-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            padding-bottom: 50px;
            min-height: 250px;
            width: 100%;
            height: fit-content;

            h1 {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                font-size: 40px;
                font-weight: 700;
                color: #ff0;
                font-style: italic;
            }
    
            .item-card {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 10px;
                padding: 50px 10px 40px 30px;
                color: #fff;
                background-image: url('../../../public/assets/images/item-card.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                border-radius: 10px;
                width: 37%;
                cursor: pointer;

                .card-top {
                    display: flex;
                    width: 100%;

                    .card-image {
                        width: 50% !important;
                        height: 120px !important;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 10px;

                        img {
                            width: 100%;
                            max-width: 120px;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 10px;
                            filter: drop-shadow(0 0 3px #ffff00) drop-shadow(0 0 4px #ffff00);
                        }
                        
                    }

                    .card-top-content {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;

                        h3, h5 {
                            margin: 0 !important;
                            padding: 0 !important;
                        }

                        h3 {
                            margin-bottom: 15px !important;
                            font-size: 20px !important;
                            color: #ff0;
                        }

                        h5 {
                            margin: 3px 0 !important;
                            font-size: 16px !important;
                        }
                    }
                }

                .card-bottom {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 2%;
                    margin: 15px 0 0 0;

                    .card-bottom-left {
                        width: 55%;
                        margin-left: 5%;

                        label {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            width: 100%;

                            p {
                                width: 60%;
                                max-width: 90px;
                                margin: 0 !important;
                                padding: 0 !important;
                                color: #ff0;
                            }

                            span {
                                width: 40%;
                                font-style: italic;
                            }
                        }
                    }

                    .card-bottom-right {
                        width: 40%;
                        margin-left: 6%;

                        label {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            width: 100%;

                            p {
                                width: 60%;
                                max-width: 70px;
                                margin: 0 !important;
                                padding: 0 !important;
                                color: #ff0;
                            }

                            span {
                                width: 40%;
                                font-style: italic;
                            }
                        }
                    }
                }
            }
        }
    }
}

