.download-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5vw 0 !important;

    .download-title {
        width: 90%;
        max-width: 1200px;
        display: flex;
        margin-bottom: 2.2vw;
        justify-content: center;
        align-items: center;
        background-color: #808080;
        border-radius: 3.7vw;
        filter: drop-shadow(0 0 .15vw #ff0) drop-shadow(0 0 .22vw #ff0);

        h1 {
            font-size: 4.1vw !important;
            margin: 0 !important;
            padding: 0 0 .8vw 0 !important;
            color: #fff;
            filter: drop-shadow(0 0 .15vw #000) drop-shadow(0 0 .22vw #000);
        }
    }

    .download-main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        max-width: 1200px;
        padding: 0 0 1.5vw 0;

        .download-content {
            position: relative;
            width: 29.3vw;
            height: 18.31vw;
            filter: drop-shadow(0 0 .15vw #000) drop-shadow(0 0 .22vw #000);
    
            .download-bg-image {
                width: 100%;
                height: 100%;
                object-fit: fill;
                border-radius: .367vw;
            }
        
            .download-bg-image:hover {
                opacity: 0.5;
            }
        
            .download-icon {
                position: absolute;
                bottom: .367vw;
                left: 50%;
                transform: translateX(-50%);
                background-color: #ccc;
                border: none !important;
                border-radius: 50%;
                cursor: pointer;
                transition: opacity 0.3s ease-in-out;
                outline: none;
                padding: .59vw .75vw;
                filter: drop-shadow(0 0 .15vw #000) drop-shadow(0 0 .22vw #000);
        
                svg {
                    font-size: 2.2vw;
                }
        
                #check-icon {
                    color: #ff0;
                }
            }
        
            .download-icon:hover {
                background-color: #1b6edb;
                color: #fff;
            }
        }
    
        .download-content:hover {
            .download-bg-image {
                opacity: 0.5;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .download-title, .download-main {
            width: 95%;
            max-width: 600px;
        }
    }

    @media screen and (max-width: 1024px) {
        .download-title, .download-main {
            width: 95%;
            max-width: 800px;
        }
    }

    @media screen and (max-width: 1365px) {
        .download-title, .download-main {
            width: 95%;
            max-width: 1024px;
        }
    }

    @media screen and (min-width: 1600px) and (min-height: 900px) {
        .download-title, .download-main {
            width: 85%;
            max-width: 1440px;
        }
    }

    @media screen and (min-width: 1920px) and (min-height: 1080px) {
        .download-title, .download-main {
            width: 80%;
            max-width: 1600px;
        }
    }

    @media screen and (min-width: 2560px) and (min-height: 1440px) {
        .download-title, .download-main {
            width: 75%;
            max-width: 1920px;
        }
    }

    @media screen and (min-width: 3840px) and (min-height: 2160px) {
        .download-title, .download-main {
            width: 70%;
            max-width: 2560px;
        }
    }

    @media screen and (min-width: 5120px) and (min-height: 2880px) {
        .download-title, .download-main {
            width: 60%;
            max-width: 3840px;
        }
    }

    @media screen and (min-width: 7680px) and (min-height: 4320px) {
        .download-title, .download-main {
            width: 50%;
            max-width: 3840px;
        }
    }
}