.map-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    
    .map-main {
        width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .map-title {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #808080;
            border-radius: 50px;
            filter: drop-shadow(0 0 2px #ffff00) drop-shadow(0 0 3px #ffff00);

            h1 {
                font-size: 56px !important;
                margin: 0 !important;
                padding: 0 0 10px 0 !important;
                color: #fff;
                filter: drop-shadow(0 0 2px #000) drop-shadow(0 0 3px #000);
            }
        }

        .main-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 20px 0;

            .main-left {
                width: 45%;
                max-width: 540px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    height: 100%;
                    max-height: 300px;
                    max-width: 520px;
                    border-radius: 20px;
                    filter: drop-shadow(0 0 3px #ffff00) drop-shadow(0 0 5px #ffff00);
                }
            }

            .main-right {
                width: 55%;
                max-width: 660px;

                h3 {
                    color: #ff0;
                    font-size: 40px;
                    text-align: center;
                    padding: 0 !important;
                    margin: 0 0 20px 0 !important;
                }

                h4 {
                    max-width: 660px;
                    font-weight: normal;
                    padding: 0 0 0 20px !important;
                    margin: 0 !important;
                    overflow-wrap: break-word;
                }
            }
        }
    }
}