.ranking-layout-container {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRy8tbdV7u_4YMwBC-9gDVk9Mab3C-yTh7D-g&usqp=CAU');
    background-repeat: no-repeat;
    background-size: 100vw;
}