.admin-player-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 700px;

    h1 {
        font-size: 36px;
        font-weight: 700;
        text-align: center;
    }

    .admin-player-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .admin-player-search {
            display: flex !important;
            justify-content: flex-start !important;
            align-items: center;
    
            input {
                padding: 7px 15px;
                border-radius: 10px;
                border: 2px solid #333;
                min-width: 400px !important;
                color: #222;
                font-weight: 600;
            }
    
            .admin-search-icons {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #009;
                background-color: transparent;
                border: none;
                cursor: pointer;
    
                svg {
                    position: absolute;
                    margin-right: 4% !important ;
                    font-size: 20px;
                }
            }
        }

        .admin-reload-players {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          
            button {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                background-color: #fff;
                border-radius: 10px;
                border: none;
                padding: 6px 15px;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
      
                svg {
                    font-size: 20px;
                }
            }

            button:hover {
                background-color: #8fe032;
                color: #009;
            }
        }
    }

    .error-message {
        height: 20px;
        color:#ff0;
        margin: 10px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .none-display {
        height: 20px;
        color:#fff;
        margin: 10px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    #none {
        visibility: hidden;
    }
  
    .pagination-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    
        .footer-page {  
            display: flex;
            justify-content: center;
            align-items: center;
            color: #222;
            font-size: 16px;
            font-weight: 500;
            padding: 3px 10px;
            border-radius: 5px;
    
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                border-radius: 50%;
                border: none;
                background-color: #cfabab;
                margin: 0 2px;
                cursor: pointer;
    
                svg {
                    font-size: 18px;
                }
            }
    
            .page-number {
                margin: 0 5px;
                font-size: 16px;
                font-weight: 500;
                color: #fff;
            }
        }
    }
  
    .admin-no-data {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      font-weight: 700;
      font-style: italic;
      font-size: 30px;
      color: #ff0;
      width: 800px;
      height: 500px;
    }
  
    .admin-player-dialog {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      backdrop-filter: blur(8px);
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.5);
  
      .admin-player-dialog-content {
        background-image: url('../../../public/assets/images/member-card.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .admin-player-dialog-main {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;

            img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin-bottom: 20px;
            }

            .admin-player-dialog-details {
                
                margin-left: 10px;
                max-width: 300px;

                p {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    text-align: left;
                    margin: 0;
                    padding: 0;
                    color: #ff0;
                    font-style: italic;
                    font-size: 16px;

                    span {
                        color:#ccc;
                        margin-left: 10px;
                        font-style: normal;
                    }
                }
            }
        }
  
        .admin-player-dialog-buttons {
          margin-bottom: 20px;
  
          button {
            padding: 5px 20px;
            background-color: #ccc;
            color: #222;
            font-weight: 600;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
          }

          button:hover {
            background-color: #00f;
            color: #fff;
          }
        }
      }
    }

    .admin-player-table-none {
        width: 800px;
        height: 500px;
    }

    .admin-player-table {
        color: #000;
        width: 800px;
        height: 500px;

        table {
            background-color: #fff;
            width: 800px;
            border-collapse: collapse;

            th {
                background-color: #999;
                color: #009;
                border: 1px solid #000;
            }

            td {
                border: 1px solid #000;
                text-align: left;
                padding: 0 5px;
                height: 40px;

                img {
                    padding-top: 3px;
                    width: 38px;
                    height: 38px;
                    border-radius: 50%;
                }

                select {
                    background-color: #00f;
                    color: #fff;
                    cursor: pointer;
                    border-radius: 3px;
                    padding: 0 5px;

                    option {
                        background-color: #fff;
                        color: #000;
                    }
                }
            }

            .admin-player-avatar, .admin-player-status, .admin-player-action {
                text-align: center !important;
            }

            .admin-player-avatar {
                max-width: 50px;
            }

            .admin-player-username {
                max-width: 130px !important;
                white-space: nowrap !important;
                overflow: hidden !important;
                text-overflow: ellipsis !important;

                span {
                    white-space: nowrap !important;
                    overflow: hidden !important;
                    text-overflow: ellipsis !important;
                    padding: 0 10px !important;
                }
            }

            .admin-player-fullname {
                max-width: 170px !important;
                white-space: nowrap !important;
                overflow: hidden !important;
                text-overflow: ellipsis !important;

                span {
                    white-space: nowrap !important;
                    overflow: hidden !important;
                    text-overflow: ellipsis !important;
                    padding: 0 10px !important;
                }
            }

            .admin-player-email {
                max-width: 200px !important;
                white-space: nowrap !important;
                overflow: hidden !important;
                text-overflow: ellipsis !important;

                span {
                    white-space: nowrap !important;
                    overflow: hidden !important;
                    text-overflow: ellipsis !important;
                    padding: 0 10px !important;
                }
            }

            .admin-player-status {
                width: 90px !important;
            }

            .admin-player-action {
                width: 80px !important;

                button {
                    background-color: #8fe032;
                    cursor: pointer;
                    border-radius: 3px;
                    border: none;
                    color: #009;
                    margin: 0 2px;
                    padding: 2px 5px .5px 5px !important;

                    svg {
                        font-size: 16px;
                    }
                }

                button:hover {
                    background-color: #222;
                    color: #fff;
                }
            }

            .admin-player-email {
                height: 40px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;;

                span {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 0 10px;
                }
            }
        }
    }

    .admin-player-status-dialog {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        backdrop-filter: blur(8px);
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);

        .admin-player-status-dialog-container {
            background-image: url('../../../public/assets/images/item-card.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            width: 300px;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .admin-player-status-dialog-content {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: 100%;

                .admin-player-status-dialog-message {
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    color: #ff0;
                    font-style: italic;
                    font-size: 20px;
                }

                .admin-player-status-dialog-action {
                    margin-top: 10px;
                    
                    button {
                        background-color: rgb(64, 64, 247);
                        color: #fff;
                        border: none;
                        border-radius: 5px;
                        padding: 5px 15px;
                        cursor: pointer;
                        font-size: 16px;
                    }

                    button:hover {
                        background-color: #08b32d;
                    }
                }
            }
        }
    }
}
  