.admin-sect-container {
    width: 58.6vw;
    height: 51.3vw;
    margin: 0 !important;
    font-size: 1.18vw;

    h1 {
        font-size: 2.64vw;
        font-weight: 700;
        text-align: center;
    }

    .admin-sect-nodata {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 58.6vw;
        height: 36.65vw;

        .dialog-empt-action-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            backdrop-filter: blur(.59vw);
            justify-content: center;
        
            .dialog-empt-action-content {
                background-image: url('../../../public/assets/images/horizontal-card.png');
                background-size: 100% 95%;
                background-repeat: no-repeat;
                border-radius: .75vw;
                text-align: center;
                width: 80.6vw;
                height: 36.65vw;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-bottom: 1.5vw;

            h2 {
                margin: 0 0 2.2vw 0 !important;
                padding: 0 !important;
                color: #ff0;
                font-size: 3vw;
            }
    
                .dialog-empt-action-main {
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .dialog-empt-action-image-group {
                        display: flex;
                        justify-content: center;
                        cursor: pointer;
                        width: 36.65vw !important;
                        height: 18.35vw !important;
                        border-radius: .75vw;
                        margin-right: 2.2vw;
                        filter: drop-shadow(0 0 .22vw #ffff00) drop-shadow(0 0 .3vw #ffff00);
    
                        img {
                            width: 36.65vw !important;
                            height: 18.35vw !important;
                            border-radius: .75vw;
                        }
                    }
    
                    .dialog-empt-action-content-main {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
    
                        .dialog-empt-action-group {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            margin-bottom:  .367vw;
        
                            label {
                                text-align: left;
                                font-weight: 600;
                            }
        
                            input[type="text"], input[type="number"] {
                                padding: .22vw  .367vw;
                                font-size: 1.18vw;
                            }
        
                            textarea {
                                height: 11vw;
                                padding: 0 .22vw;
                                font-size: 1.18vw;
                            }
                        }
        
                        .dialog-empt-action-handle {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: .75vw;
                            margin-top:  .367vw;
        
                            button {
                                width: 14.65vw;
                                border-radius:  .367vw;
                                border: none;
                                padding:  .367vw 1.1vw;
                                cursor: pointer;
                                font-size: 1.18vw;
                                font-weight: 500;
                            }
        
                            #actions-empt {
                                color: #fff;
                                background-color: green;
                            }
        
                            #actions-empt:hover {
                                color: #000;
                                background-color: rgb(29, 164, 243);
                            }
        
                            #cancel-empt-actions {
                                color: #fff;
                                background-color: rgb(250, 31, 31);
                            }
        
                            #cancel-empt-actions:hover {
                                color: #000;
                                background-color: rgb(247, 204, 17);
                            }
                        }
                    }
                }
            }
        }

        .admin-sect-empty {
            font-size: 2.2vw;
            color: #ff0;
        }

        .admin-add-sect-empty {
            button {
                cursor: pointer;
                border-radius: 50%;
                border: none;

                svg {
                    font-size: 3.67vw;
                }
            }

            button:hover {
                background-color: #ff0;
                color: #009;
            }
        }
    }

    .admin-sects-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .admin-search-bar {
            display: flex !important;
            justify-content: flex-start !important;
            align-items: center;
    
            input {
                padding: .44vw 1.1vw;
                border-radius: .75vw;
                border: .075vw solid #333;
                min-width: 22vw !important;
                color: #222;
                font-weight: 600;
                font-size: 1.18vw;
            }
    
            .admin-search-icons {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #009;
                cursor: pointer;
                background-color: transparent;
                border: none;
                margin-right: .75vw;
    
                svg {
                    font-size: 1.32vw;
                    position: absolute;
                    margin-right: 4% !important ;
                }
            }

            .admin-search-reload {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #009;
                cursor: pointer;
                background-color: #fff;
                width: 2.2vw;
                height: 2.2vw;
                border-radius: 50%;
                border: none;
    
                svg {
                    font-size: 1.32vw;
                    position: absolute;
                }
            }

            .admin-search-reload:hover {
                background-color: #009;
                color: #fff;
            }
        }

        .admin-add-sects {
            display: flex;
            justify-content: center;
            align-items: center;
            
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                color: #009;
                border-radius: .75vw;
                border: none;
                padding:  .367vw 1.1vw;
                font-size: 1.18vw;
                font-weight: 600;
                cursor: pointer;

                svg {
                    font-size: 1.32vw;
                    color: #009;
                }
            }

            button:hover {
                background-color: #009;
                color: #fff;

                svg {
                    color: #fff;
                }
            }
        }
    }

    .error-message {
        height: 1.5vw;
        color:#ff0;
        margin: .75vw 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .none-display {
        height: 1.5vw;
        color:#fff;
        margin: .75vw 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    #none {
        visibility: hidden;
    }

    .admin-sects-table {
        width: 58.6vw;
        height: 36.65vw;
        color: #000;

        table {
            background-color: #fff;
            width: 58.6vw;
            border-collapse: collapse;
    
            th {
                background-color: #333;
                color: #fff;
                border: .075vw solid #000;
            }
    
            td {
                border: .075vw solid #000;
                text-align: left;
                max-height: 3vw !important;
    
                img {
                    padding: .15vw 0;
                    width: 2.79vw;
                    height: 2.79vw;
                }
            }
    
            .admin-sect-name {
                width: 13.2vw !important;
                max-width: 12.5vw;
                white-space: nowrap !important;
                overflow: hidden !important;
                text-overflow: ellipsis !important;
    
                span {
                    white-space: nowrap !important;
                    overflow: hidden !important;
                    text-overflow: ellipsis !important;
                    padding: 0  .367vw !important;
                }
            }
    
            .admin-sects-level {
                width: 5.13vw !important;
                max-width: 4.4vw;
                text-align: center;
            }
    
            .admin-sect-description {
                width: 16.85vw !important;
                max-width: 16.15vw;
                white-space: nowrap !important;
                overflow: hidden !important;
                text-overflow: ellipsis !important;
    
                span {
                    white-space: nowrap !important;
                    overflow: hidden !important;
                    text-overflow: ellipsis !important;
                    padding: 0  .367vw !important;
                }
            }
    
            .admin-sects-images {
                width: 14.65vw !important;
                max-width: 14vw;
    
                .image-container {
                    width: 14vw !important;
                    max-width: 14vw !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: .22vw;
                }
            }
    
            .admin-sects-actions {
                width: 8.8vw !important;
                max-width: 8.06vw;
                text-align: center;
    
                button {
                    background-color: #009;
                    border: none;
                    border-radius:  .367vw;
                    padding: .22vw  .367vw .075vw  .367vw;
                    color: #ff0;
                    margin: 0 .075vw;
                    cursor: pointer;
    
                    svg {
                        font-size: 1.18vw;
                    }
                }
    
                button:hover {
                    background-color: #333;
                    color: #fff;
                }
            }
        }
    }

    .pagination-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: .75vw;
    
        .footer-page {  
            display: flex;
            justify-content: center;
            align-items: center;
            color: #222;
            font-size: 1.18vw;
            font-weight: 500;
            padding: .22vw .75vw;
            border-radius:  .367vw;
    
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding:  .367vw;
                border-radius: 50%;
                border: none;
                background-color: #cfabab;
                margin: 0 .15vw;
                cursor: pointer;
    
                svg {
                    font-size: 1.32vw;
                }
            }
    
            .page-number {
                margin: 0  .367vw;
                font-size: 1.18vw;
                font-weight: 500;
                color: #fff;
            }
        }
    }

    .dialog-remove-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(.59vw);
        display: flex;
        align-items: center;
        justify-content: center;
    
        .dialog-remove-content {
            background-image: url('../../../public/assets/images/horizontal-card.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            border-radius: .75vw;
            text-align: center;
            width: 33vw;
            height: 18.35vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h3 {
                margin: 0 !important;
                padding: 0 !important;
                color: #ff0;
            }

            p {
                margin: .75vw 0 !important;
                padding: 0 !important;
            }

            small {
                max-width: 18.35vw;
                word-wrap: break-all;
                margin: 0 0 .75vw 0;
                color: #ff0;
                font-style: italic;
            }

            .dialog-remove-buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1.5vw;

                button {
                    border: none;
                    padding: .22vw 1.1vw .075vw 1.1vw;
                    border-radius:  .367vw;
                    font-size: 1.18vw;
                    cursor: pointer;
                    width: 7.34vw;
                }

                #removed {
                    background-color: rgb(3, 163, 3);
                    color: #fff;
                }

                #removed:hover {
                    background-color: rgb(38, 110, 243);
                    color: #fff;
                }

                #cancel-removed {
                    background-color: rgb(194, 31, 10);
                    color: #fff;
                }

                #cancel-removed:hover {
                    background-color: rgb(102, 255, 14);
                    color: #000;
                }
            }
        }
    }

    .dialog-action-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        backdrop-filter: blur(.59vw);
        justify-content: center;
    
        .dialog-action-content {
            background-image: url('../../../public/assets/images/horizontal-card.png');
            background-size: 100% 95%;
            background-repeat: no-repeat;
            border-radius: .75vw;
            text-align: center;
            width: 80.6vw;
            height: 36.65vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-bottom: 1.5vw;

            h2 {
                margin: 0 0 2.2vw 0 !important;
                padding: 0 !important;
                color: #ff0;
                font-size: 3vw;
            }

            .dialog-action-main {
                display: flex;
                justify-content: center;
                align-items: center;

                .dialog-action-image-group {
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    width: 36.65vw !important;
                    height: 18.35vw !important;
                    border-radius: .75vw;
                    margin-right: 2.2vw;
                    filter: drop-shadow(0 0 .22vw #ffff00) drop-shadow(0 0 .3vw #ffff00);

                    img {
                        width: 36.65vw !important;
                        height: 18.35vw !important;
                        border-radius: .75vw;
                    }
                }

                .dialog-action-content-main {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .dialog-action-group {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        margin-bottom:  .367vw;
    
                        label {
                            text-align: left;
                            font-weight: 600;
                        }
    
                        input[type="text"], input[type="number"] {
                            padding: .22vw  .367vw;
                            font-size: 1.18vw;
                        }
    
                        textarea {
                            height: 11vw;
                            padding: 0 .22vw;
                            font-size: 1.18vw;
                        }
                    }
    
                    .dialog-action-handle {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: .75vw;
                        margin-top:  .367vw;
    
                        button {
                            width: 14.65vw;
                            border-radius:  .367vw;
                            border: none;
                            padding:  .367vw 1.1vw;
                            cursor: pointer;
                            font-size: 1.18vw;
                            font-weight: 500;
                        }
    
                        #actions {
                            color: #fff;
                            background-color: green;
                        }
    
                        #actions:hover {
                            color: #000;
                            background-color: rgb(29, 164, 243);
                        }
    
                        #cancel-actions {
                            color: #fff;
                            background-color: rgb(250, 31, 31);
                        }
    
                        #cancel-actions:hover {
                            color: #000;
                            background-color: rgb(247, 204, 17);
                        }
                    }
                }
            }
        }
    }

    .dialog-message-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        backdrop-filter: blur(.59vw);
        justify-content: center;
    
        .dialog-message-content {
            background-image: url('../../../public/assets/images/horizontal-card.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            border-radius: .75vw;
            text-align: center;
            min-width: 36.65vw;
            height: 11vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            p {
                margin: .75vw 0 !important;
                padding: 0 2.2vw !important;
                font-size: 1.5vw;
                font-style: italic;
            }

            button {
                border: none;
                padding:  .367vw 1.5vw .22vw 1.5vw;
                border-radius:  .367vw;
                font-size: 1.18vw;
                cursor: pointer;
                color: #fff;  
                background-color: green; 
                font-weight: 600;
                width: 7.34vw;
            }

            button:hover {
                color: #ff0;  
                background-color: rgb(26, 38, 201); 
            }
        }
    }

    .dialog-view-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(.59vw);
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
        overflow: hidden;
    
        .dialog-view-main-content {
            width: 73.21vw;
            height: 36.65vw;
            background-image: url('../../../public/assets/images/horizontal-card.png');
            background-size: 100% 95%;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: .75vw;
            padding: 5.13vw 0;

            .dialog-view-content {
                position: relative;
                width: 62.25vw;
                max-height: 30vw;
                text-align: start;
                padding: 0 5.13vw !important;
                overflow: auto; 
                scrollbar-width: none;
                -ms-overflow-style: none;
                margin: 0 !important;
    
                h3 {
                    margin: 0 !important;
                    padding: 0 !important;
                    color: #ff0;
                    font-size: 2.2vw;
                    text-align: center;
                }
    
                .dialog-view-main {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
    
                    p {
                        margin: .75vw 0 !important;
                        padding: 0 1.5vw 0 1.5vw !important;
                        color: #ff0;
                        display: flex;
                        flex-direction: column;

                        span {
                            width: 100%;
                            color: #fff;
                            flex-wrap: wrap;
                            word-break: break-word;
                        }
                    }
                }
    
                .dialog-view-images {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 1.1vw 0;
                    
                    .image-view-dialog {
                        border-radius: .75vw;
                        width: 58.6vw;
                        height: 30vw;
                    }
                }
    
                .dialog-view-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 1.1vw 0;
                    
                    button {
                        width: 11vw;
                        background-color: #080;
                        font-size: 1.18vw;
                        font-weight: 600;
                        padding:  .367vw 1.86vw;
                        border: none;
                        color: #fff;
                        border-radius:  .367vw;
                        cursor: pointer;
                    }
    
                    button:hover {
                        background-color: #2665ee;
                    }
                }
            }

            .dialog-view-content::-webkit-scrollbar {
                display: none;
            }
              
            .dialog-view-content {
                scrollbar-width: none;
                -ms-overflow-style: none;
            }     
        }
    }
}