.admin-character-container {
    width: 58.6vw;
    height: 51.3vw;
    margin: 0 !important;
    font-size: 1.18vw;

    h1 {
        font-size: 2.64vw;
        font-weight: 700;
        text-align: center;
    }

    .admin-character-nodata {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 58.6vw;
        height: 36.65vw;

        .admin-character-empty {
            font-size: 2.2vw;
            color: #ff0;
        }
    }

    .admin-characters-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .admin-search-bar {
            display: flex !important;
            justify-content: flex-start !important;
            align-items: center;
    
            input {
                padding: .44vw 1.1vw;
                border-radius: .75vw;
                border: .075vw solid #333;
                min-width: 22vw !important;
                color: #222;
                font-weight: 600;
                font-size: 1.18vw;
            }
    
            .admin-search-icons {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #009;
                cursor: pointer;
                background-color: transparent;
                border: none;
                margin-right: .75vw;
    
                svg {
                    font-size: 1.32vw;
                    position: absolute;
                    margin-right: 4% !important ;
                }
            }

            .admin-search-reload {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #009;
                cursor: pointer;
                background-color: #fff;
                width: 2.2vw;
                height: 2.2vw;
                border-radius: 50%;
                border: none;
    
                svg {
                    font-size: 1.32vw;
                    position: absolute;
                }
            }

            .admin-search-reload:hover {
                background-color: #009;
                color: #fff;
            }
        }

        .admin-characters-filter {
            select {
                width: 14.65vw;
                padding: .367vw;
                border-radius: .75vw;
                background-color: green;
                color: #fff;
                font-weight: 600;
                cursor: pointer;
                font-size: 1.18vw;

                option {
                    background-color: #fff;
                    color: #000;
                    font-weight: 600;
                    font-size: 1.18vw;
                }
            }
        }
    }

    .error-message {
        height: 1.5vw;
        color:#ff0;
        margin: .75vw 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .none-display {
        height: 1.5vw;
        color:#fff;
        margin: .75vw 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    #none {
        visibility: hidden;
    }

    .admin-characters-table {
        width: 58.6vw;
        height: 36.65vw;
        color: #000;

        table {
            background-color: #fff;
            width: 58.6vw;
            border-collapse: collapse;
    
            th {
                background-color: #333;
                color: #fff;
                border: .075vw solid #000;
            }
    
            td {
                border: .075vw solid #000;
                text-align: left;
                max-height: 3vw !important;
    
                img {
                    padding: .15vw 0;
                    width: 2.79vw;
                    height: 2.79vw;
                    object-fit: contain;
                }
            }
    
            .admin-character-name {
                width: 13.2vw !important;
                max-width: 12.5vw;
                white-space: nowrap !important;
                overflow: hidden !important;
                text-overflow: ellipsis !important;
    
                span {
                    white-space: nowrap !important;
                    overflow: hidden !important;
                    text-overflow: ellipsis !important;
                    padding: 0 .367vw !important;
                }
            }
    
            .admin-characters-sect {
                width: 7.34vw !important;
                max-width: 7.34vw;
                text-align: center;
            }
    
            .admin-character-description {
                width: 19.8vw !important;
                max-width: 18.32vw;
                white-space: nowrap !important;
                overflow: hidden !important;
                text-overflow: ellipsis !important;
    
                span {
                    white-space: nowrap !important;
                    overflow: hidden !important;
                    text-overflow: ellipsis !important;
                    padding: 0 .367vw !important;
                }
            }
    
            .admin-characters-images {
                width: 8.05vw !important;
                max-width: 7.34vw;
    
                .image-container {
                    width: 7.34vw !important;
                    max-width: 7.34vw !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: .22vw;
                }
            }
    
            .admin-characters-actions {
                width: 8.8vw !important;
                max-width: 8.05vw;
                text-align: center;
    
                button {
                    background-color: #009;
                    border: none;
                    border-radius: .367vw;
                    padding: .22vw .367vw .075vw .367vw;
                    color: #ff0;
                    margin: 0 .075vw;
                    cursor: pointer;
    
                    svg {
                        font-size: 1.18vw;
                    }
                }
    
                button:hover {
                    background-color: #333;
                    color: #fff;
                }
            }
        }
    }

    .pagination-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: .75vw;
    
        .footer-page {  
            display: flex;
            justify-content: center;
            align-items: center;
            color: #222;
            font-size: 1.18vw;
            font-weight: 500;
            padding: .22vw .75vw;
            border-radius: .367vw;
    
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .367vw;
                border-radius: 50%;
                border: none;
                background-color: #cfabab;
                margin: 0 .15vw;
                cursor: pointer;
    
                svg {
                    font-size: 1.32vw;
                }
            }
    
            .page-number {
                margin: 0 .367vw;
                font-size: 1.18vw;
                font-weight: 500;
                color: #fff;
            }
        }
    }

    .dialog-view-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(.59vw);
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
        overflow: hidden;
    
        .dialog-view-main-content {
            width: 73.21vw;
            height: 36.61vw;
            background-image: url('../../../public/assets/images/horizontal-card.png');
            background-size: 100% 95%;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: .75vw;
            padding: 5.13vw 0;
    
            .dialog-view-content {
                position: relative;
                width: 62.23vw;
                max-height: 29.3vw;
                text-align: start;
                padding: 0 5.13vw !important;
                overflow: auto; 
                scrollbar-width: none;
                -ms-overflow-style: none;
                margin: 0 !important;
    
                h3 {
                    margin: 0 !important;
                    padding: 0 !important;
                    color: #ff0;
                    font-size: 3.67vw;
                    text-align: center;
                    text-transform: uppercase;
                }
    
                .dialog-view-main {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
    
                    .dialog-main-top {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        margin-top: 3vw;
    
                        .dialog-view-images {
                            width: 20%;
                            height: 29.3vw;
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            img {
                                padding: 1.5vw .75vw;
                                width: 100%;
                                max-width: 12.45vw;
                                height: 100%;
                                max-height: 29.3vw;
                                border-radius: 1.5vw;
                                object-fit: fill;
                                filter: drop-shadow(0 0 .15vw #ff0) drop-shadow(0 0 .22vw #ff0);
                            }
                        }
    
                        .dialog-view-main {
                            width: 80%;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-direction: column;
                            flex-wrap: wrap;
    
                            .dialog-main-skill {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                padding: .59vw 1.5vw;
                                width: 100%;
        
                                img {
                                    max-width: 5.13vw;
                                    width: 100%;
                                    height: 5.13vw;
                                    border-radius: 50%;
                                    object-fit: contain;
                                    margin-right: .75vw;
                                    background-color: #fff;
                                    filter: drop-shadow(0 0 .075vw #ff0) drop-shadow(0 0 .15vw #ff0);
                                }
        
                                .skill-main {
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    flex-direction: column;
        
                                    h6 {
                                        width: 100%;
                                        font-size: 1.5vw;
                                        color: #ff0;
                                        margin: 0 !important;
                                        padding: 0 0 .367vw 0 !important;
                                    }
        
                                    span {
                                        width: 98%;
                                        font-size: 1.18vw;
                                        margin: 0 !important;
                                        padding: 0 !important;
                                        word-wrap: break-word;
                                        font-style: italic;
                                    }
                                }
                            }
                        }
                    }
    
                    .dialog-main-bottom {
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: column;
                        align-items: flex;
                        flex-wrap: wrap;
                        margin: 2.2vw 0;
                        width: 100%;                    
    
                        h4 {
                            font-size: 2.64vw;
                            color: #ff0;
                            margin: 0 !important;
                            padding: 0 !important;
                        }
    
                        p {
                            color: #ff0;
                            font-style: italic;
                            font-size: 1.5vw;
                            margin: 0 !important;
                            padding: 0 !important;
                        }
    
                        h5 {
                            font-style: italic;
                            font-size: 1.18vw;
                            font-weight: 500;
                            margin: .75vw 0 !important;
                            padding: 0 !important;
                        }
                    }
                }
    
                .dialog-view-button {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 1.5vw;
    
                    button {
                        width: 8.8vw;
                        color: #fff;
                        background-color: #1685ec;
                        border-radius: .367vw;
                        border: none;
                        padding: .513vw;
                        font-size: 1.18vw;
                        cursor: pointer;
                    }
    
                    button:hover {
                        background-color: green;
                    }
                }
            }    
                
    
            .dialog-view-content::-webkit-scrollbar {
                display: none;
            }
              
            .dialog-view-content {
                scrollbar-width: none;
                -ms-overflow-style: none;
            }     
        }
    }
}