.dashboard-container {
    max-width: 58.6vw;
    margin: 0 !important;
    padding: 0 !important;

    h1 {
        font-size: 2.65vw;
        margin-bottom: 3vw;
        text-align: center;
    }

    .dashboard-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        width: 100%;

        .dashboard-card {
            border-radius: .367vw;
            background-image: url('../../../public/assets/images/horizontal-card.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 29.3vw;
            height: 7.34vw;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            padding: 3vw 0 0 0;

            h2 {
                font-size: 2.2vw;
                color: #ff0;
                margin: 0 !important;
                padding: 0 !important;
            }
              
            p {
                margin-bottom: .59vw;
                font-size: 1.5vw;
                margin: 0 !important;
                padding: 0 !important;
            }
        }
    }
}