.dashboard-container {
    max-width: 800px;
    margin: 0 !important;
    padding: 0 !important;

    h1 {
        font-size: 36px;
        margin-bottom: 40px;
        text-align: center;
    }

    .dashboard-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        width: 100%;

        .dashboard-card {
            border-radius: 4px;
            background-image: url('../../../public/assets/images/horizontal-card.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 400px;
            height: 100px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            padding: 40px 0 0 0;

            h2 {
                font-size: 30px;
                color: #ff0;
                margin: 0 !important;
                padding: 0 !important;
            }
              
            p {
                margin-bottom: 8px;
                font-size: 20px;
                margin: 0 !important;
                padding: 0 !important;
            }
        }
    }
}