.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.86vw;
    padding: 0 1.5vw;
    background-color: #222;
    box-shadow: 0 .15vw .3vw rgba(0,0,0,0.1);

    .logo {
        font-weight: bold;
        cursor: pointer;

        .logo-main {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;

            .image-logo {
                width: 3.67vw;
                height: 3.67vw;
                border-radius: 50%;
                margin-right: .367vw;
                opacity: .8;
            }

            .image-logo:hover {
                transition: color 0.2s;
                filter: drop-shadow(0 0 .75vw #ff0) drop-shadow(0 0 3.67vw #ff0);
                transform-origin: top;
            }

            .logo-text {
                color: #1E90FF;
                font-size: 1.76vw;
            }

            .logo-text:hover {
                color: chartreuse;
                transition: color 0.2s;
                filter: drop-shadow(0 0 .75vw #fec603) drop-shadow(0 0 3.67vw #fec603);
                transform-origin: top;
            }
        }
    }

    .nav {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        .nav-link {
            text-decoration: none;

            .nav-item {
                position: relative;
                font-size: 1.18vw;
                font-weight: bold;
                margin: 0 1.5vw;
                cursor: pointer;
                transition: color 0.2s;
                color: #fff;
            }
  
            .nav-item:hover {
                color: #ff0;
            }

            .nav-item.active {
                color: #ff0;
                transition: color 0.2s;
                filter: drop-shadow(0 0 .75vw #fec603) drop-shadow(0 0 3.67vw #fec603);
                transform-origin: top;
            }

            .nav-item::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0;
                height: .15vw;
                background-color: #ff0;
                transition: width 0.2s, left 0.2s;
                transform: translateX(0%);
            }
                
            .nav-item:hover::before,
            .nav-item.active::before {
                width: 100%;
                left: 0;
            }
                
            .nav-item:not(:hover)::before {
                width: 0;
                left: 50%;
            }
        }
    }

    .auth {
        display: flex;
        align-items: center;

        .nav-welcome {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            padding: 0 1.5vw 0 0;

            a {
                text-decoration: none;
                color: #fff;

                .nav-welcome-text {
                    font-size: 1.18vw;
                    margin-right: .59vw;
                    cursor: pointer;
    
                    span {
                        font-style: italic;
                        text-transform: lowercase;
                    }
                }
    
                .nav-welcome-text:hover {
                    color: #ff0;
                    filter: drop-shadow(0 0 2px #fec603) drop-shadow(0 0 5px #fec603);
                }
            }

            .nav-logout {
                cursor: pointer;
                font-size: 1.5vw;
            }

            .nav-logout:hover {
                color: #ff0;
                filter: drop-shadow(0 0 .22vw #fec603) drop-shadow(0 0 3.67vw #fec603);
            }
        }

        .btn-sign-in,
        .btn-sign-up {
            width: 7.33vw;
            height: 2.2vw;
            margin-left: .75vw;
            border: none;
            padding: 0 .75vw;
            font-size: 1.18vw;
            font-weight: bold;
            border-radius: 1.5vw;
            cursor: pointer;
            transition: background-color 0.2s, color 0.2s;
        }

        .btn-sign-in {
            background-color: darkkhaki;
            color: #fff;
        }

        .btn-sign-up {
            background-color: chocolate;
            color: #fff;
        }
    
        .btn-sign-in:hover {
            background-color: #fa0;
            color: #222;
        }

        .btn-sign-up:hover {
            background-color: deepskyblue;
            color: #222;
        }

        .language {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.57vw;
            height: 2.57vw;
            cursor: pointer;

            .icon-lang {
                margin-left: .75vw;
                color: #fff;
                font-size: 1.76vw;
                width: 100%;
                height: 100%;
            }

            .icon-lang:hover {
                color: chartreuse;
            }
        }

        .language:hover {
            transition: color 0.2s;
            filter: drop-shadow(0 0 .75vw #ff0) drop-shadow(0 0 3.67vw #ff0);
            transform-origin: top;
        }
    }
}