.ranking-container {
    display: flex;
    justify-content: center;
    align-items: center;    

    .ranking-form {
        background-image: url('../../../public/assets/images/member-card.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 10px;
        padding: 40px 100px 50px 100px;
        color: #fff;
        font-weight: 600;
        min-width: 600px;
        min-height: 470px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 30px 0 !important;

        .ranking-text {
            display: flex;
            justify-content: center;
            align-items: center;

            h3{
                font-size: 50px;
                text-align: center;
                color: #fff;
                margin: 0 !important;
                padding: 0 !important;
            }

            img {
                width: 80px !important;
                height: 80px !important;
            }
        }

        .tabs-container {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
            border-radius: 5px;
            min-width: 240px;
            
            .tab {
                color: #fff;
                font-weight: 700;
                border: 2px solid #fff;
                background-color: transparent;
                font-size: 16px;
                border-radius: 5px;
                padding: 5px 10px;
                cursor: pointer;
                transition: color 0.2s ease-in-out;
            }

            .active {
                background-color: #ff0;
                color: #008;
                border: 2px solid #2f7add;
            }
        }

        .table-container {
            width: 100%;
            overflow-x: auto;

            .no-rank-list {
                text-align: center;
                font-size: 30px;
                font-size: #ff0;
                font-weight: 600;
            }

            table {
                border-collapse: separate;
                width: 100%;

                th, td {
                    padding: 10px;
                    text-align: left;
                    border: 1px solid #222;
                    background-color: #444;
                }
                
                th {
                    font-weight: bold;
                    background-color: #ccc;
                    color: #222;
                }
                
                td:first-child {
                    width: 10%;
                    text-align: center;

                    .gold {
                        color: gold;
                        font-size: 30px;
                    }

                    .silver {
                        color: silver;
                        font-size: 30px;
                    }

                    .bronze {
                        color: #cd7f32;
                        font-size: 30px;
                    }

                    .normal {
                        color: #fff;
                        font-size: 30px;
                    }
                }

                td:nth-child(2) {
                    width: 40%;
                }

                td:nth-child(3) {
                    width: 50%;
                }
            }
        }

        @media (max-width: 768px) {
            .tabs-container {
              flex-wrap: wrap;
            }
          
            .tab {
              margin-right: 0;
              margin-bottom: 10px;
            }
        }
    }
}