.ranking-container {
    display: flex;
    justify-content: center;
    align-items: center;    

    .ranking-form {
        background-color: #222;
        border-radius: 3.67vw;
        padding: 5.13vw 7.34vw;
        color: #fff;
        font-weight: 600;
        width: 73.25vw;
        height: 73.25vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin: 2.2vw 0 !important;
        filter: drop-shadow(0 0 .3vw #ccc) drop-shadow(0 0 .367vw #ccc);

        .ranking-text {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            h3{
                font-size: 3.67vw;
                text-align: center;
                color: #ff0;
                margin: 0 !important;
                padding: 0 !important;
                filter: drop-shadow(0 0 .0367vw #ccc) drop-shadow(0 0 .075vw #ccc);
            }

            img {
                width: 5.86vw !important;
                height: 5.85vw !important;
                filter: drop-shadow(0 0 .0367vw #ccc) drop-shadow(0 0 .075vw #ccc);
            }
        }

        .tabs-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2.2vw;
            margin: 1.5vw 0;
            border-radius: .367vw;
            width: 100%;
            filter: drop-shadow(0 0 .0367vw #222) drop-shadow(0 0 .075vw #222);
            
            .tab {
                color: #000;
                font-weight: 700;
                border: .15vw solid #ccc;
                background-color: #ccc;
                font-size: 1.18vw;
                border-radius: .367vw;
                padding: .367vw .75vw;
                width: 11vw;
                cursor: pointer;
                transition: color 0.2s ease-in-out;
            }

            .active {
                background-color: #ff0;
                color: #008;
                border: none;
            }
        }

        .table-container {
            width: 100%;

            .no-rank-list {
                text-align: center;
                font-size: 2.2vw;
                color: #ff0;
                font-style: italic;
                font-weight: 600;
            }

            table {
                border-collapse: collapse;
                width: 100%;
                font-size: 1.18vw;

                th, td {
                    padding: .513vw 0;
                    text-align: left;
                    border: 1px solid #222;
                    background-color: #444;
                }
                
                th {
                    font-weight: bold;
                    background-color: #eee;
                    color: #222;
                    text-align: center;
                }
                
                td:first-child {
                    width: 5.9vw;
                    max-width: 5.9vw;
                    text-align: center;

                    .gold {
                        color: gold;
                        font-size: 2.2vw;
                        filter: drop-shadow(0 0 .0367vw gold) drop-shadow(0 0 .0367vw gold);
                    }

                    .silver {
                        color: silver;
                        font-size: 2.2vw;
                        filter: drop-shadow(0 0 .0367vw silver) drop-shadow(0 0 .0367vw silver);
                    }

                    .bronze {
                        color: #cd7f32;
                        font-size: 2.2vw;
                        filter: drop-shadow(0 0 .0367vw #cd7f32) drop-shadow(0 0 .0367vw #cd7f32);
                    }

                    .normal {
                        color: #fff;
                        font-size: 2.05vw;
                        font-weight: 300;
                    }
                }

                td:nth-child(2) {
                    width: 17.57vw;
                    max-width: 16.85vw;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    span {
                        max-width: 16.11vw;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding: 0 .367vw;
                        text-transform: lowercase;
                    }
                }

                td:nth-child(3) {
                    width: 23.43vw;
                    max-width: 23.43vw;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    span {
                        max-width: 22vw;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding: 0 .367vw;
                    }
                }

                td:nth-child(4) {
                    text-align: center;
                    width: 11.72vw;
                    max-width: 11vw;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    span {
                        max-width: 10.25vw;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding: 0 .367vw;
                    }
                }
            }
        }
    }
}

.empty-ranking {
    font-size: 1.5vw;
    color: #ff0;
    height: 36.61vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    span {
        margin-top: 3vw;
        font-size: 2.2vw;
        font-style: italic;
        padding: 2.2vw 7.34vw;
        border-radius: 2.2vw;
        border: .075vw solid #ff0;
    }
}