.leaderboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .tabs-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tab {
    border: none;
    background-color: transparent;
    color: #555;
    font-size: 16px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
  }
  
  .tab.active,
  .tab:hover {
    color: #000;
  }
  
  .table-container {
    width: 100%;
    overflow-x: auto;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  th {
    font-weight: bold;
  }
  
  td:first-child {
    width: 40px;
  }
  
  td:first-child i {
    font-size: 80px;
  }
  
  td:first-child .gold {
    color: gold;
    font-size: 30px;
  }
  
  td:first-child .silver {
    color: silver;
  }
  
  td:first-child .bronze {
    color: #cd7f32;
  }
  
  td:first-child .rank {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .tabs-container {
      flex-wrap: wrap;
    }
  
    .tab {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }