.privacy-policy-container {
    background-color: #222;
    width: 90%;
    max-width: 73.25vw !important;
    padding: 3.67vw 5.86vw !important;
    border-radius: 2.2vw;
    display: flex;
    flex-direction: column;
    margin: 2.2vw 0;
    filter: drop-shadow(0 0 .15vw #808080) drop-shadow(0 0 .22vw #808080);

    h1 {
        text-align: center;
        font-weight: bold;
        font-size: 3.67vw;
        margin: 1.5vw 0 !important; 
        padding: 0 !important;
        color: #ff0;
    }
    
    p {
        color: #fff;
        padding: 0 3.67vw !important;
        font-weight: 500;
        font-size: 1.18vw;
        margin: 0 0 1.5vw 0 !important;
    }

    .button-privacy {
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin: 1.5vw 0 .75vw 0;

        button {
            background-color: #808080;
            border: none !important;
            border-radius: 50%;
            cursor: pointer;

            a {
                text-decoration: none;
        
                svg {
                    font-size: 4.4vw;
                    padding: 1.1vw;
                    color: #fff;
                }
            }
        }

        button:hover {
            background-color: #fa0;
            a {
                text-decoration: none;
        
                svg {
                    font-size: 4.4vw;
                    padding: 1.1vw;
                    color: #222;
                }
            }
        }
   }
}