.user-layout-container {
    background-image: url('https://images.nightcafe.studio/jobs/DB1KyaA2fAgX4X7Vd6cc/DB1KyaA2fAgX4X7Vd6cc.jpg?tr=w-1600,c-at_max');
    background-repeat: no-repeat;
    background-size: 100vw;
}