.admin-page {
    background-color: #c7c7c7;
    padding: 1.5vw !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .admin-navbar {
        flex: 0 25%;
    }

    .admin-container {
        min-height: 58.6vw;
        margin-left: .5%;
        flex: 0 74.5%;
        background-color: #051819;
        color: #fff;
        border-radius: .75vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
