.admin-page {
    background-color: #c7c7c7;
    padding: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .admin-navbar {
        flex: 0 25%;
    }

    .admin-container {
        min-height: 607px;
        margin-left: .5%;
        flex: 0 74.5%;
        background-color: #fff;
        border-radius: 10px;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
