.navbar-container {
    background-color: #08252a !important;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    padding: 15px 15px 35px 15px;
    border-radius: 10px;
    min-height: 587px;

    .navbar-top {
        width: 100%;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        cursor: pointer;

        a {
            text-decoration: none;
            color: #fff;

            h3 {
                font-weight: 600 !important;
                background-color: #f3e9e9 !important;
                color: #333;
                padding: 3px 10px !important;
                border-radius: 10px !important;
            }
            
            h3:hover {
                background-color: rgb(230, 156, 9) !important;
                color: #008 !important;
            }
        }
    }


    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
    }

    h4 {
        font-weight: 600;
    }

    .navbar-main {
        display: flex !important;
        flex-direction: column !important;
        width: 100%;
        cursor: pointer;

        a {
            text-decoration: none !important;
            background-color: #08252a  !important;
            color: #fff;

            .navbar-dashboard, .navbar-charts, .navbar-blogs, .navbar-items, .navbar-players, .navbar-profile, .navbar-logout {
                font-weight: 500;
                border: 2px solid #fff;
                border-radius: 10px;
                padding: 5px 15px;
                margin-top: 5px !important;
                display: flex !important;
                align-items: center !important;
    
                svg {
                    font-size: 22px !important;
                    margin-right: 10px !important;
                }
    
                span {
                    font-size: 18px !important;
                }
            }
    
            .navbar-dashboard:hover,
            .navbar-charts:hover, 
            .navbar-blogs:hover, 
            .navbar-items:hover, 
            .navbar-players:hover, 
            .navbar-profile:hover, 
            .navbar-logout:hover {
                background-color: rgb(222, 227, 231);
                color: #222;
                transform: scale(1.05);
                border: 2px solid #222;
                transition: 0.3s;
            }
    
            .active {
                background-color: #ff0 !important;
                color: #333 !important;
                transform: scale(1.05) !important;
                border: 2px solid #333 !important;
                transition: 0.3s !important;
            }
    
            .active:hover {
                background-color: #fa0 !important;
                color: #222 !important;
                transform: scale(1.05) !important;
                border: 2px solid #222 !important;
                transition: 0.3s !important;
            }
        }
    }
}