.navbar-container {
    background-color: #08252a !important;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    padding: 0 1.1vw;
    border-radius: .75vw;
    margin: 0 !important;
    min-height: 58.6vw;
    height: 100%;

    .navbar-top {
        width: 100%;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        cursor: pointer;

        a {
            text-decoration: none;
            color: #fff;

            h3 {
                font-weight: 600 !important;
                background-color: #f3e9e9 !important;
                color: #333;
                padding: .22vw 1.5vw .367vw 1.5vw !important;
                border-radius: .75vw !important;
                font-size: 1.91vw;
                margin: 0 0 1.5vw 0 !important;
                filter: drop-shadow(0 0 .075vw #ff0) drop-shadow(0 0 .15vw #ff0);
            }
            
            h3:hover {
                background-color: rgb(230, 156, 9) !important;
                color: #008 !important;
            }
        }
    }


    img {
        width: 11vw;
        height: 11vw;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
        filter: drop-shadow(0 0 .075vw #808080) drop-shadow(0 0 .15vw #808080);
    }

    h4 {
        font-weight: 600;
        font-size: 1.5vw;
        font-style: italic;
        margin: .513vw 0 !important;
    }

    .navbar-main {
        display: flex !important;
        flex-direction: column !important;
        width: 100%;
        height: 100%;
        cursor: pointer;

        a {
            text-decoration: none !important;
            background-color: #08252a  !important;
            color: #fff;

            .navbar-dashboard, .navbar-categories, .navbar-characters, .navbar-news, .navbar-maps, .navbar-sects, .navbar-skills, .navbar-items, .navbar-players, .navbar-profile, .navbar-logout {
                font-weight: 500;
                border: .15vw solid #fff;
                border-radius: .75vw;
                padding: .367vw 1.1vw;
                margin-top: .367vw !important;
                display: flex !important;
                align-items: center !important;
    
                svg {
                    font-size: 1.62vw !important;
                    margin-right: .75vw !important;
                }
    
                span {
                    font-size: 1.32vw !important;
                }
            }
    
            .navbar-dashboard:hover,
            .navbar-categories:hover, 
            .navbar-characters:hover, 
            .navbar-news:hover, 
            .navbar-maps:hover,
            .navbar-sects:hover,
            .navbar-skills:hover,
            .navbar-items:hover, 
            .navbar-players:hover, 
            .navbar-profile:hover, 
            .navbar-logout:hover {
                background-color: rgb(222, 227, 231);
                color: #222;
                transform: scale(1.05);
                border: .15vw solid #222;
                transition: 0.3s;
            }
    
            .active {
                background-color: #ff0 !important;
                color: #333 !important;
                transform: scale(1.05) !important;
                border: .15vw solid #333 !important;
                transition: 0.3s !important;
            }
    
            .active:hover {
                background-color: #fa0 !important;
                color: #222 !important;
                transform: scale(1.05) !important;
                border: .15vw solid #222 !important;
                transition: 0.3s !important;
            }
        }
    }
}