.about-us-page {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('../../../public/assets/images/member-card.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: #fff;
        border-radius: 10px;
        transition: transform 0.3s;
        font-weight: 700 !important;
        padding: 60px 20px;
        width: 1200px;
    
        h1 {
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 30px;
            color: #ff0;
        }
    
        .team-introduction {
            max-width: 1000px;
            word-wrap: break-word;
            padding: 0 50px 20px 50px !important;
        }
    
        .members {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            margin-bottom: 50px;
            
            .member {
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                transition: all 0.3s ease;
                width: 250px;
                background-image: url('../../../public/assets/images/member-card.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                padding: 60px 30px;
                border-radius: 15px;
                color: #fff;
                gap: 30px;
    
                img {
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                    margin-bottom: 10px;
                }
       
                .info {
                    text-align: center;

                    h3 {
                        font-size: 18px;
                    }

                    h4 {
                        font-size: 16px;
                    }

                    span {
                        font-size: 16px;
                    }
                }
            }
    
            .member:hover {
                transform: scale(1.05);
                color: #ff0;
                transition: 0.4s;
                filter: drop-shadow(0 0 2px #009) drop-shadow(0 0 3px #009);
            }
    
            .active {
                border: 5px solid #fff000;
            }
        }
    }
}