.about-us-page {
    padding: 20px;

    .about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('../../../public/assets/images/member-card.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: #fff;
        border-radius: 10px;
        transition: transform 0.3s;
        font-weight: 700 !important;
        padding: 60px 20px;
    
        h1 {
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 30px;
        }
    
        .team-introduction {
            padding: 0 100px 20px 100px !important;
        }
    
        .members {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 50px;
            margin-bottom: 50px;
            
            .member {
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                transition: all 0.3s ease;
                width: 200px;
                background-image: url('../../../public/assets/images/member-card.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                padding: 60px 40px;
                border-radius: 15px;
                color: #fff;
                gap: 30px;
    
                img {
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                    margin-bottom: 10px;
                }
    
                h3 {
                    font-size: 24px;
                    margin-bottom: 5px;
                }
    
                p {
                    font-size: 18px;
                    margin: 0;
                }
    
                .info {
                    text-align: center;
                }
            }
    
            .member:hover {
                transform: scale(1.05);
                color: #ff0;
                transition: 0.4s;
            }
    
            .active {
                border: 5px solid #fff000;
            }
        }
    }
}